<div class="offers">
  <div class="container-fluid">
    <!-- Table Card -->
    <div class="card pmd-card text-center">
      <table id="example-checkbox" class="table pmd-table table-hover table-striped display responsive nowrap"
        cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Offer Title</th>
            <th>Offer Price</th>
            <th>Offer Features</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Offer Title</td>
            <td>90$/Year</td>
            <td>
              <ol class="list-unstyled">
                <li>Featured first</li>
                <li>Featured Second</li>
                <li>Featured Third</li>
                <li>Featured Fourth</li>
                <li>Featured Fifth</li>
                <li>Featured Sixth</li>
              </ol>
            </td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Offer Title</td>
            <td>90$/Year</td>
            <td>
              <ol class="list-unstyled">
                <li>Featured first</li>
                <li>Featured Second</li>
                <li>Featured Third</li>
                <li>Featured Fourth</li>
                <li>Featured Fifth</li>
                <li>Featured Sixth</li>
              </ol>
            </td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Offer Title</td>
            <td>90$/Year</td>
            <td>
              <ol class="list-unstyled">
                <li>Featured first</li>
                <li>Featured Second</li>
                <li>Featured Third</li>
                <li>Featured Fourth</li>
                <li>Featured Fifth</li>
                <li>Featured Sixth</li>
              </ol>
            </td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Offer Title</td>
            <td>90$/Year</td>
            <td>
              <ol class="list-unstyled">
                <li>Featured first</li>
                <li>Featured Second</li>
                <li>Featured Third</li>
                <li>Featured Fourth</li>
                <li>Featured Fifth</li>
                <li>Featured Sixth</li>
              </ol>
            </td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Offer Title</td>
            <td>90$/Year</td>
            <td>
              <ol class="list-unstyled">
                <li>Featured first</li>
                <li>Featured Second</li>
                <li>Featured Third</li>
                <li>Featured Fourth</li>
                <li>Featured Fifth</li>
                <li>Featured Sixth</li>
              </ol>
            </td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
