<div class="offers">
  <div class="container-fluid">
    <table class="table table-borderless">
      <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Offer Title</th>
          <th scope="col">Offer Price</th>
          <th scope="col">Offer Features</th>
          <th scope="col">Edit Offer</th>
          <th scope="col">Delete Offer</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let offer of offerList; let i = index">
          <td scope="row">{{i+1}}</td>
          <td>{{offer.title}}</td>
          <td>{{offer.priceAndPeriod}}</td>
          <td>
            <ol *ngFor="let feature of offer.features" class="list-unstyled">
              <li>{{feature}}</li>
            </ol>
          </td>
          <td   (click)="editOffer(offer)" style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
          <td (click)="deleteOffer(offer._id)" style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
      </tbody>
    </table>
  </div>
</div>
