.offers{
  width: 80%;
  margin: auto;
  margin-top: 20px;
  font-family: "Crimson Pro";
  margin-bottom: 100px;
}
.offers thead{
  text-transform: uppercase;
}
.offers tbody{
  text-align: center;
  text-transform: uppercase;
}
.offers td:nth-child(1){
  padding-top: 50px;
}
.offers td:nth-child(2){
  padding-top: 50px;
}
.offers td:nth-child(4){
  padding-top: 50px;
}
.offers td:nth-child(5){
  padding-top: 50px;
}

.offers tbody{
  text-transform: uppercase;
}
