<footer>

  <div class="topSection">
    <div class="col-3 section">
      <h3>Our Company</h3>
      <img src="../../../assets/images/Logo/Dark Green.png" />
    </div>
    <div class="col-3 section">
      <h3>Contact Us</h3>
        <ul class="list-unstyled" style="margin-left: -16px;">
          <li><i class="fa fa-envelope"  aria-hidden="true"></i> Muhammed@gmail.com</li>
          <li><i class="fa fa-phone"  aria-hidden="true"></i> +963 964 827 090</li>
          <li><i class="fa fa-location-dot"  aria-hidden="true"></i> Syria Homs Brazil Street</li>
        </ul>
    </div>
    <div class="col-3  section">
      <h3>Support</h3>
      <ul class="list-unstyled mx-4">
        <li>About</li>
        <li>Service</li>
        <li>Terms Of condition</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div class="col-3 section">
      <h3>Follow Us</h3>

      <div class=" d-flex ">
        <ul class="list-unstyled icons">
          <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
      </div>
      <button id="contactLink" type="button" routerLink='/contact-us'> contact us </button>
    </div>
  </div>

  <div class="bottomSection">
      <hr>
      <p>COPYRIGHT 2022 <span>multysmart</span>© ALL RIGHT REVERSED</p>
  </div>

</footer>
