<footer>

  <div class="topSection">
    <div class="col-3 section">
      <h3>Our Company</h3>
      <p>Create your smart home through <span>MultySmart</span>
        with the latest technologies and the popular of brands.
      </p>
    </div>
    <div class="col-3 section">
      <h3>Contact Us</h3>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope"  aria-hidden="true"></i> Muhammed@gmail.com</li>
          <li><i class="fa fa-phone"  aria-hidden="true"></i> +963 964 827 090</li>
          <li><i class="fa fa-location-dot"  aria-hidden="true"></i> Syria Homs Brazil Street</li>
        </ul>
    </div>
    <div class="col-3 section">
      <h3>Open In</h3>
      <ul class="list-unstyled">
        <li><i class="fa fa-clock" aria-hidden="true"></i> MONDAY - FRIDAY</li>
        <li><i class="fa fa-clock" aria-hidden="true"></i> 9:00 AM - 8:00 PM</li>
      </ul>
    </div>
    <div class="col-3 section">
      <h3>Follow Us</h3>
      <ul class="list-unstyled icons">
        <li><i class="fa fa-whatsapp" aria-hidden="true"></i></li>
        <li><i class="fa fa-facebook-f" aria-hidden="true"></i></li>
        <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>

  <div class="bottomSection">
      <hr>
      <p>COPYRIGHT 2022 <span>multysmart</span>© ALL RIGHT REVERSED</p>
  </div>

</footer>
