<!-- navbar is starting -->
<app-navbar></app-navbar>
<!--navbar is ending-->


<!-- header is starting -->
<section class="header">
  <div class="container">
    <div class="row">
      <div class="title-page">
        <img src="../../assets/images/Logo/White.png" alt="multySmartIcon" />
        <h1>contact us</h1>
      </div>
    </div>
  </div>
</section>
<!-- header is ending -->

<!-- contact us is starting -->
<section class="contact-us">
  <div class="container">
    <div class="row">
      <div class="contact-section">
        <div class="contact-media">
          <i class="fa fa-phone"></i>
          <p>(+963) 964 827 090</p>
        </div>
        <div class="contact-media">
          <i class="fa fa-envelope"></i>
          <p>muhammed @gmail.com</p>
        </div>
        <div class="contact-media">
          <i class="fa fa-map-location"></i>
          <p>Syria homs al brazil street</p>
        </div>
      </div>
      <div class="submit-section">
          <div class="submit-form">
            <form>
              <input type="text" name="fullName" placeholder="Full Name"/><br/>
              <input type="text" name="email" placeholder="Email"/><br/>
              <input type="text" name="message" placeholder="Message"/><br/>
              <button type="submit">sumbit</button>
            </form>

            <div class="social-media">
              <a href="#" class="fab fa-whatsapp"></a>
              <a href="#" class="fab fa-facebook"></a>
              <a href="#" class="fab fa-linkedin"></a>
              <a href="#" class="fab fa-instagram"></a>
            </div>
            
          </div>
          <div class="image-form">
            <img src="../../assets/images/Introduction/intro.jpg" alt="multySmartContract">
          </div>
        </div>
      </div>
    </div>
</section>
<!-- contact us is ending -->



<!-- footer is starting -->
<app-footer></app-footer>
<!--footer is ending-->
