<!-- navbar is starting -->
<app-navbar></app-navbar>
<!--navbar is ending-->

<!-- header is starting -->
<section class="header">
  <div class="container">
    <div class="row">
      <div class="title-page">
        <img src="../../assets/images/Logo/White.png" alt="multySmartIcon" />
        <h1>about us</h1>
      </div>
    </div>
  </div>
</section>
<!-- header is ending -->

<!-- statistics is starting -->
<section class="statistics">
  <div class="container">
      <div class="row">
        <div class="statistical">
          <span>+300</span>
          <h4>work projects</h4>
        </div>
        <div class="statistical">
          <span>+225</span>
          <h4>partners</h4>
        </div>
        <div class="statistical">
          <span>+150</span>
          <h4>customers</h4>
        </div>
        <div class="statistical">
          <span>+300</span>
          <h4>products</h4>
        </div>
      </div>
  </div>
</section>
<!-- statistics is ending -->


<!-- choose us is starting -->
<section class="choose-us">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="why-choose-us">
          <h2>why choose us ?</h2>
          <div class="details">
            <span class="fas fa-angle-right"></span>
            <h4>fast solutions</h4>
          </div>
          <div class="details">
            <span class="fas fa-angle-right"></span>
            <h4>full comfortable</h4>
          </div>
          <div class="details">
            <span class="fas fa-angle-right"></span>
            <h4>Ease of use</h4>
          </div>
          <div class="details">
            <span class="fas fa-angle-right"></span>
            <h4>high safety</h4>
          </div>
        </div>
      </div>
      <div class="col-4 image-side">
        <img src="../../assets/images/About us/lifesmartcat.jpg" alt="MultySmart">
      </div>
    </div>
  </div>
</section>
<!-- choose us is ending -->


<!-- what we do is starting -->
<section class="what-do">
  <div class="container">
    <div class="row">
      <h2>what we do</h2>
      <div class="d-flex mt-5">
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sYqjs8TKkOE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi consequatur cum consequatur optio eum tempora galisum. Eos ducimus consequuntur aut autem autem qui alias autem sed dolor repellendus et cumque incidunt vel dolor explicabo. Ut provident dolores sed quos reprehenderit sed aspernatur architecto qui voluptas aliquid.</p>
      </div>
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MjwaEEy9SRs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi consequatur cum consequatur optio eum tempora galisum. Eos ducimus consequuntur aut autem autem qui alias autem sed dolor repellendus et cumque incidunt vel dolor explicabo. Ut provident dolores sed quos reprehenderit sed aspernatur architecto qui voluptas aliquid.</p>
      </div>
    </div>
  </div>
</div>
</section>
<!-- what we do is endinhg -->

<!-- our story is starting -->
<section class="our-story">
  <div class="container">
    <h2>our story</h2>
    <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi consequatur cum consequatur optio eum tempora galisum. Eos ducimus consequuntur aut autem autem qui alias autem sed dolor repellendus et cumque incidunt vel dolor explicabo. Ut provident dolores sed quos reprehenderit sed aspernatur architecto qui voluptas aliquid.</p>
  </div>
</section>
<!-- our story is ending -->


<!-- our location is starting -->
<section class="location">
  <div class="container">
    <div class="row">
      <h2>our location</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109110.41125118874!2d55.274749495554346!3d25.12041751618691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43496ad9c645%3A0xbde66e5084295162!2z2K_YqNmKIC0g2KfZhNil2YXYp9ix2KfYqiDYp9mE2LnYsdio2YrYqSDYp9mE2YXYqtit2K_YqQ!5e0!3m2!1sar!2s!4v1668884313886!5m2!1sar!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>

<!-- our location is ending -->
<!-- footer is starting -->
<app-footer></app-footer>
<!--footer is ending-->
