<!-- navbar is starting -->
<app-navbar></app-navbar>
<!--navbar is ending-->

<!-- header is starting -->
<section class="header">
  <div class="container">
    <div class="row">
      <div class="title-page">
        <img src="../../assets/images/Logo/White.png" alt="multySmartIcon" />
        <h1>about us</h1>
      </div>
    </div>
  </div>
</section>
<!-- header is ending -->

<!-- statistics is starting -->
<section class="statistics">
  <div class="container">
    <div class="row">
      <div class="statistical">
        <span>+300</span>
        <h4>work projects</h4>
      </div>
      <div class="statistical">
        <span>+225</span>
        <h4>partners</h4>
      </div>
      <div class="statistical">
        <span>+150</span>
        <h4>customers</h4>
      </div>
      <div class="statistical">
        <span>+300</span>
        <h4>products</h4>
      </div>
    </div>
  </div>
</section>
<!-- statistics is ending -->


<!-- choose us is starting -->
<section class="choose-us">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="why-choose-us">
          <h2>why choose us ?</h2>
          <div class="details">
            <span class="fas fa-angle-right"></span>
            <h4>fast solutions</h4>
          </div>
          <div class="details">
            <span class="fas fa-angle-right"></span>
            <h4>full comfortable</h4>
          </div>
          <div class="details">
            <span class="fas fa-angle-right"></span>
            <h4>Ease of use</h4>
          </div>
          <div class="details">
            <span class="fas fa-angle-right"></span>
            <h4>high safety</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 text-center image-side">
        <img src="../../assets/images/About us/lifesmartcat.jpg" alt="MultySmart">
      </div>
    </div>
  </div>
</section>
<!-- choose us is ending -->

<!-- partners section is starting -->
<section class="partners">
  <div class="container-fluid">
    <div class="row">
      <h2>Our Popular Partners</h2>
      <!-- slider start -->
      <div id="carouselIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="row d-flex">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-xs-12 col-md-4 image">
                  <img src="../../assets/images/Partners/moorgen.jpg" alt="SmartHome" />
                  <h2>Moorgen</h2>
                </div>
                <div class="col-xs-12  col-md-4  image">
                  <img src="../../assets/images/Partners/Savant.jpeg" alt="SmartHome" />
                  <h2>Savant</h2>
                </div>
                <div class="col-xs-12  col-md-4 image">
                  <img src="../../assets/images/Partners/lifeSmart.jpeg" alt="SmartHome" />
                  <h2>Life Smart</h2>
                </div>
              </div>
            </div>
            <div class="carousel-item image">
              <div class="row">
                <div class="col-xs-12 col-md-4 image">
                  <img src="../../assets/images/Partners/KNx.jpeg" alt="SmartHome" />
                  <h2>knx</h2>
                </div>
                <div class="col-xs-12 col-md-4  image">
                  <img src="../../assets/images/Partners/HDL.jpeg" alt="SmartHome" />
                  <h2>HDL</h2>
                </div>
                <div class="col-xs-12 col-md-4  image">
                  <img src="../../assets/images/Partners/Eknex.jpg" alt="SmartHome" />
                  <h2>Ekinex</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- partners section is ending -->



<!-- what we do is starting -->
<section class="what-do">
  <div class="container-fluid">
    <div class="row">
      <h2>Aowsome work Culture</h2>
      <div class="works-images">
        <div class="col-xs-12"><img src="../../assets/images/Projets/proj3.png" alt="EventImage"></div>
        <div class="col-xs-12"><img src="../../assets/images/Projets/proj2.png" alt="EventImage"></div>
        <div class="col-xs-12"><img src="../../assets/images/Projets/proj6.png" alt="EventImage"></div>
        <div class="col-xs-12"><img src="../../assets/images/Projets/proj4.png" alt="EventImage"></div>
      </div>
      <div class="works-images">
        <div class="col-xs-12"><img src="../../assets/images/Projets/proj3.png" alt="EventImage"></div>
        <div class="col-xs-12"><img src="../../assets/images/Projets/proj2.png" alt="EventImage"></div>
        <div class="col-xs-12"><img src="../../assets/images/Projets/proj6.png" alt="EventImage"></div>
        <div class="col-xs-12"><img src="../../assets/images/Projets/proj4.png" alt="EventImage"></div>
      </div>
    </div>
  </div>
</section>
<!-- what we do is endinhg -->

<!-- our story is starting -->
<section class="our-team">
  <div class="container">
    <div class="row">
      <h2>our team</h2>
      <div class="team">
        <div class="col-xs-12 col-md-6 col-lg-3 member">
          <div class="member-name">
            <h4>Mohammed Al-Mustafa</h4>
            <h5>Excuation Manger</h5>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 member">
          <div class="member-name">
            <h4>Mohammed Al-Meshouat</h4>
            <h5>Sales Manger</h5>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 member">
          <div class="member-name">
            <h4>Mohammed Al-Manfy</h4>
            <h5>IT Engineer</h5>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 member">
          <div class="member-name">
            <h4>Abd AlRahman Al-Mustafa</h4>
            <h5>LeaderChip</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- our story is ending -->

<!-- footer is starting -->
<app-footer></app-footer>
<!--footer is ending-->
