<div class="users">
  <div class="container-fluid">
    <!-- Table Card -->
    <div class="card pmd-card text-center">
      <table id="example-checkbox" class="table pmd-table table-hover table-striped display responsive nowrap"
        cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Start Date</th>
            <th>User Info</th>
            <th>Delete User</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>Mohammed</td>
            <td>Al Manfy</td>
            <td>mohammedmanfy29@gmail.com</td>
            <td>0932943752</td>
            <td>2011/04/25</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
