<div class="users">
  <div class="container-fluid">
    <table class="table table-borderless">
      <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">city</th>
          <th scope="col">Address</th>
          <th scope="col">Emarite</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let user of usersInfo ; let counter = index">
          <th scope="row">{{counter + 1}}</th>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.city}}</td>
          <td>{{user.address}}</td>
          <td>{{user.emarite}}</td>
          <td (click)="deleteUser(user._id)"><i class="fa fa-trash-can"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<mat-paginator *ngIf="this.usersInfo.length!=0 " class="pagination" (page)="handlePagination($event)" [length]="totalUsers"
  [pageIndex]="currentPage" [pageSize]="pageSize" aria-label="Select page"></mat-paginator>

