<div class="users">
  <div class="container-fluid">
    <table class="table table-borderless">
      <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Purchase Date</th>
          <th scope="col">Client Info</th>
          <th scope="col">Delete Client</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <th scope="row">1</th>
          <td>Mohammed</td>
          <td>Al Manfy</td>
          <td>mohammedmanfy29@gmail.com</td>
          <td>0932943752</td>
          <td>2011/04/25</td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mohammed</td>
          <td>Al Manfy</td>
          <td>mohammedmanfy29@gmail.com</td>
          <td>0932943752</td>
          <td>2011/04/25</td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mohammed</td>
          <td>Al Manfy</td>
          <td>mohammedmanfy29@gmail.com</td>
          <td>0932943752</td>
          <td>2011/04/25</td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mohammed</td>
          <td>Al Manfy</td>
          <td>mohammedmanfy29@gmail.com</td>
          <td>0932943752</td>
          <td>2011/04/25</td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mohammed</td>
          <td>Al Manfy</td>
          <td>mohammedmanfy29@gmail.com</td>
          <td>0932943752</td>
          <td>2011/04/25</td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mohammed</td>
          <td>Al Manfy</td>
          <td>mohammedmanfy29@gmail.com</td>
          <td>0932943752</td>
          <td>2011/04/25</td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mohammed</td>
          <td>Al Manfy</td>
          <td>mohammedmanfy29@gmail.com</td>
          <td>0932943752</td>
          <td>2011/04/25</td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mohammed</td>
          <td>Al Manfy</td>
          <td>mohammedmanfy29@gmail.com</td>
          <td>0932943752</td>
          <td>2011/04/25</td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mohammed</td>
          <td>Al Manfy</td>
          <td>mohammedmanfy29@gmail.com</td>
          <td>0932943752</td>
          <td>2011/04/25</td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mohammed</td>
          <td>Al Manfy</td>
          <td>mohammedmanfy29@gmail.com</td>
          <td>0932943752</td>
          <td>2011/04/25</td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mohammed</td>
          <td>Al Manfy</td>
          <td>mohammedmanfy29@gmail.com</td>
          <td>0932943752</td>
          <td>2011/04/25</td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mohammed</td>
          <td>Al Manfy</td>
          <td>mohammedmanfy29@gmail.com</td>
          <td>0932943752</td>
          <td>2011/04/25</td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mohammed</td>
          <td>Al Manfy</td>
          <td>mohammedmanfy29@gmail.com</td>
          <td>0932943752</td>
          <td>2011/04/25</td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-drivers-license"></i></td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

