.vidoes{
  width: 90%;
  margin: auto;
  margin-top: 30px;
  font-family: "El Messiri";
  box-shadow: 0 0 2px 2px #DDD;
  padding: 20px;
}
.vidoes tbody tr{
  border-bottom: 1px solid;
}
.vidoes thead{
  color: #5e548e;
  text-transform: uppercase;
}
.vidoes th{
  font-weight: 700;
}
.vidoes tbody{
  color: #5e545e;
}
.vidoes td i{
  color: #5e548e;
}
.vidoes tr:hover{
  background-color: #F9F9F9;
}
