<div class="vidoes">
  <div class="container-fluid">
    <table class="table table-borderless">
      <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">title</th>
          <th scope="col">Edit video</th>
          <th scope="col">Delete video</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let video of this.videosList; let i = index">
          <td scope="row">{{i+1}}</td>
          <td>{{video.title}}</td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
          <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
