.videos{
  width: 60%;
  margin: auto;
  margin-top: 100px;
  font-family: "Crimson Pro";
}
.videos thead{
  text-transform: uppercase;
}
.videos tbody{
  text-align: center;
  text-transform: uppercase;
}
.videos td {
  padding: 15px 0;
}
