<div class="add-project">
  <div class="container">
    <div class="row">
      <form>
        <div class="mb-3">
          <label for="project-name" class="form-label">Project Name</label>
          <input type="text" class="form-control" id="project-name" placeholder="Enter Project Name Here ...">
        </div>
        <div class="mb-3">
          <label for="Description" class="form-label">Description project</label>
          <textarea class="form-control" id="Description" rows="3" placeholder="Enter your Description"></textarea>
        </div>
        <div class="input-group mb-3">
          <input type="file" class="form-control" value="image url" id="inputGroupFile02">
          <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <button type="button" class="btn btn-outline-primary">Add Project</button>
      </form>
    </div>
  </div>
</div>
