<!-- navbar is starting -->
<app-navbar></app-navbar>
<!--navbar is ending-->

<!-- header is starting -->
<section class="header">
  <div class="container">
    <div class="row">
      <div class="title-page">
        <img src="../../assets/images/Logo/White.png" alt="multySmartIcon" />
        <h1>brand Name</h1>
      </div>
    </div>
  </div>
</section>
<!-- header is ending -->

<!-- brand name is starting -->
<section class="brand-name">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-evenly">
        <div class="products">
          <img src="../../assets/images/Products/cctv.png" alt="multySmart" />
          <h4>product name</h4>
          <span>brand name / categories</span><br />
          <a href="#">details</a>
        </div>
        <div class="products">
          <img src="../../assets/images/Products/LinksysRouter.png" alt="multySmart" />
          <h4>product name</h4>
          <span>brand name / categories</span><br />
          <a href="#">details</a>
        </div>
        <div class="products">
          <img src="../../assets/images/Products/cctv.png" alt="multySmart" />
          <h4>product name</h4>
          <span>brand name / categories</span><br />
          <a href="#">details</a>
        </div>
      </div>

      <div class="d-flex justify-content-evenly">
        <div class="products">
          <img src="../../assets/images/Products/cctv.png" alt="multySmart" />
          <h4>product name</h4>
          <span>brand name / categories</span><br />
          <a href="#">details</a>
        </div>
        <div class="products">
          <img src="../../assets/images/Products/LinksysRouter.png" alt="multySmart" />
          <h4>product name</h4>
          <span>brand name / categories</span><br />
          <a href="#">details</a>
        </div>
        <div class="products">
          <img src="../../assets/images/Products/cctv.png" alt="multySmart" />
          <h4>product name</h4>
          <span>brand name / categories</span><br />
          <a href="#">details</a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- brand name is ending -->


<!-- footer is starting -->
<app-footer></app-footer>
<!-- footer is ending -->
