<div class="add-videos">
  <div class="container">
    <div class="row">
      <form>
        <div class="mb-3">
          <label for="video-title" class="form-label">Video Title</label>
          <input type="text" class="form-control" id="video-title" placeholder="Enter Project Name Here ...">
        </div>
        <div class="mb-3">
          <label for="Description-video" class="form-label">Description Video</label>
          <textarea class="form-control" id="Description-video" rows="3" placeholder="Enter your Description"></textarea>
        </div>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile02">
          <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <button type="button" class="btn btn-outline-primary">Add Video</button>
      </form>
    </div>
  </div>
</div>
