.blogs{
  margin-top: 20px;
  color: #5e548e;
  font-family: "Crimson Pro";
  user-select: none;
}
.blogs .card small{
  cursor: pointer;
}
.blogs .card .card-body h5{
  font-size: 18px;
  font-weight: 500;
  font-family: "Crimson Pro";
}
.blogs .card .card-body h6{
  font-size: 16px;
  font-weight: 400;
  font-family: "Crimson Pro";
}
.blogs .pagination{
  background-color: #DDD;
  color: #5e548e;
  margin-top: 50px;
}
.no-display {
  display: flex;
  justify-content: center;
}
.no-display h2 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Crimson Pro";
}

