<div class="products">
  <div class="container-fluid">
    <table class="table table-borderless">
      <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">product image</th>
          <th scope="col">product NAME</th>
          <th scope="col">Price product</th>
          <th scope="col">Save Price</th>
          <th scope="col">Category</th>
          <th scope="col">Brand</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let product of this.productsList; let i = index">
          <td scope="row">{{i+1}}</td>
          <td><img [src]='product.images[0]'/></td>
          <td>{{product.productName}}</td>
          <td>{{product.price}}</td>
          <td>{{product.savePrice}}</td>
          <td>{{product.category}}</td>
          <td>{{product.brand}}</td>
          <td  (click)="editProduct(product)" style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
          <td (click)="deleteProduct(product._id)" style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
