.products{
  margin-top: 20px;
  color: #5e548e;
  font-family: "Crimson Pro";
  user-select: none;
}
.products .card .card-body h5{
  font-size: 18px;
  font-weight: 500;
  font-family: "Crimson Pro";
}
.products .card .card-body h6{
  font-size: 16px;
  font-weight: 400;
  font-family: "Crimson Pro";
}
.products .pagination{
  background-color: #DDD;
  color: #5e548e;
  margin-top: 50px;
}

.products .card  small{
  cursor: pointer;
}
