<div class="products">
  <div class="container-fluid">
    <!-- show when data is  not found on the page -->
    <div class="no-display p-5" *ngIf="this.productsList.length == 0">
      <h2>Don't have any an order</h2>
    </div>
    <!-- product is starting -->
    <div class="row my-5">
      <div class="col-4" *ngFor="let product of productsList">
        <div class="card">
          <img [src]="product.image" class="card-img-top" alt="product image">
          <div class="card-body">
            <h5 class="card-title">{{product.productName}}</h5>
            <h6>{{product.price}} AED</h6>
            <p class="card-text">{{product.description}}.</p>
          </div>
          <ul class="list-group d-block list-group-flush">
            <li class="list-group-item">{{product.brand}}</li>
            <li class="list-group-item">{{product.category}}</li>
            <li class="list-group-item">{{product.tag}}</li>
          </ul>
          <div class="card-footer">
            <small (click)="deleteProduct(product._id)" class="text-body-secondary"> <i class="fa fa-trash-o"></i>
              Delete</small>
            <small (click)="updateProduct(product)" class="text-body-secondary mx-3"> <i class="fa fa-edit"></i>
              Edit</small>
            <small class="text-body-secondary mx-4">{{product.created_at|date:'short'}}</small>
          </div>
        </div>
      </div>
    </div>
    <!-- product is ending -->
    <mat-paginator *ngIf="this.productsList.length!=0" class="pagination" (page)="handlePagination($event)"
      [length]="totalProducts" [pageIndex]="currentPage" [pageSize]="pageSize" aria-label="Select page"></mat-paginator>
  </div>
</div>
