<div class="products">
  <div class="container-fluid">
    <!-- Table Card -->
    <div class="card pmd-card text-center">
      <table id="example-checkbox" class="table pmd-table table-hover table-striped display responsive nowrap"
        cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>product image</th>
            <th>product NAME</th>
            <th>Price product</th>
            <th>Save Price</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="../../../assets/images/Products/knxe4.png"/></td>
            <td>Tiger</td>
            <td>150$</td>
            <td>20$</td>
            <td>HVAC</td>
            <td>KNX</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td><img src="../../../assets/images/Products/knxe4.png"/></td>
            <td>Tiger</td>
            <td>150$</td>
            <td>20$</td>
            <td>HVAC</td>
            <td>KNX</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td><img src="../../../assets/images/Products/knxe4.png"/></td>
            <td>Tiger</td>
            <td>150$</td>
            <td>20$</td>
            <td>HVAC</td>
            <td>KNX</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td><img src="../../../assets/images/Products/knxe4.png"/></td>
            <td>Tiger</td>
            <td>150$</td>
            <td>20$</td>
            <td>HVAC</td>
            <td>KNX</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td><img src="../../../assets/images/Products/knxe4.png"/></td>
            <td>Tiger</td>
            <td>150$</td>
            <td>20$</td>
            <td>HVAC</td>
            <td>KNX</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td><img src="../../../assets/images/Products/knxe4.png"/></td>
            <td>Tiger</td>
            <td>150$</td>
            <td>20$</td>
            <td>HVAC</td>
            <td>KNX</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td><img src="../../../assets/images/Products/knxe4.png"/></td>
            <td>Tiger</td>
            <td>150$</td>
            <td>20$</td>
            <td>HVAC</td>
            <td>KNX</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
