p{
    color: red;
    font-size: 16px;
    font-family:"El Messiri";
    border-radius: 5px;
    text-transform: lowercase;
  }

  ::ng-deep .mat-snack-bar-container{
    background-color: #FFF;
  }
