<!-- checkout is strating -->
<section class="add-product mx-5">
  <div class="container">
    <div class="row">
        <div class="info-form">
          <h3>Edit Product</h3>
          <form [formGroup]="addProductForm" (ngSubmit)="formSubmit($event)">
            <div class="d-flex justifiy-content-center flex-row w-100">
              <div class="label w-75">
                <label for="productName">product name</label>
                <input type="text" id="productName" formControlName="productName" name="productName"
                  [placeholder]="this.productInfo.productName" />
              </div>
              <div class="label w-75">
                <label for="price">price</label>
                <input type="text" id="price" formControlName="price" name="price"
                [placeholder]="this.productInfo.price"/>
              </div>
            </div>
            <div class="d-flex justifiy-content-center flex-row w-100">
              <div class="label w-50">
                <label for="gategory">category</label>
                <select name="category" id="category">
                  <option *ngFor="let CATEGORY of CATEGORIES ; let counter = index"
                  [value]="CATEGORY" [selected]="CATEGORY">{{CATEGORY}}</option>
                </select>
              </div>
              <div class="label w-50">
                <label for="tag">tag</label>
                <select name="tag" id="tag">
                  <option *ngFor="let TAG of TAGS"
                  [value]="TAG" [selected]="TAG">{{TAG}}</option>
                </select>
              </div>
              <div class="label w-50">
                <label for="brand">brand</label>
                <input type="text" id="brand" name="brand" formControlName="brand"
                [placeholder]="this.productInfo.brand" />
              </div>
            </div>
            <div class="d-flex justifiy-content-center flex-row w-100">
              <div class="label w-100">
                <label for="comment">Description</label>
                <textarea name="description" formControlName="description" [placeholder]="this.productInfo.description"
                  id="description" cols="30" rows="10"></textarea>
              </div>
            </div>
            <div class="d-flex flex-row w-100">
              <div class="input-group mb-3">
                <input type="file" class="form-control" (change)="uploadImage($event)" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02" style="cursor: pointer;">Upload Image</label>
              </div>
            </div>
            <div>
              <div class="ms-3 pt-3">
                <button type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</section>
<!-- check out is ending -->
