<div class="brands">
  <div class="container-fluid">
    <!-- Table Card -->
    <div class="card pmd-card text-center">
      <table id="example-checkbox" class="table pmd-table table-hover table-striped display responsive nowrap"
        cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Brand Name</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>KNX</td>
            <td>HVAC</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>KNX</td>
            <td>HVAC</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>KNX</td>
            <td>HVAC</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>KNX</td>
            <td>HVAC</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>KNX</td>
            <td>HVAC</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>KNX</td>
            <td>HVAC</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>KNX</td>
            <td>HVAC</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>KNX</td>
            <td>HVAC</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>

          <tr>
            <td>KNX</td>
            <td>HVAC</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>KNX</td>
            <td>HVAC</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>KNX</td>
            <td>HVAC</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>KNX</td>
            <td>HVAC</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td>KNX</td>
            <td>HVAC</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>

          <tr>
            <td>KNX</td>
            <td>HVAC</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
