.brands{
  width: 80%;
  margin: auto;
  margin-top: 20px;
  font-family: "El Messiri";
  margin-bottom: 100px;
  box-shadow: 0 0 2px 2px #DDD;
  padding-bottom: 20px;
}
.brands thead{
  text-transform: uppercase;
  border-bottom:1px solid;
  color: #5e548e;
}
.brands th{
  font-weight: 700;
}
.brands tbody{
  text-align: center;
  text-transform: uppercase;
}
.brands tbody td{
  border-bottom:1px solid;
  color: #5e548e;
}
.brands tr:hover{
  background-color:#F9F9F9;
}
.brands td{
  padding: 15px 0;
}
.brands tbody{
  text-transform: uppercase;
}
.brands .pagination{
  background-color: #DDD;
  color: #5e548e;
}
