.brands{
  width: 95%;
  margin: auto;
  margin-top: 20px;
  font-family: "Crimson Pro";
}
.brands thead{
  text-transform: uppercase;
}
.brands tbody{
  text-align: center;
  text-transform: uppercase;
}
.brands td{
  padding: 15px 0;
}
