<div class="brands">
  <div class="container-fluid">
    <table class="table table-borderless">
      <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Brand Name</th>
          <th scope="col">Edit Brand</th>
          <th scope="col">Delete Brand</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let brand of this.brandsList;let i = index">
          <td scope="row">{{ i + 1}}</td>
          <td>{{brand.brand}}</td>
          <td (click)="updateBrand(brand)" style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
          <td (click)="deleteBrand(brand._id)"  style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
      </tbody>
    </table>
    <mat-paginator class="pagination" (page)="handlePagination($event)" [length]="totalBrands" [pageIndex]="currentPage" [pageSize]="pageSize" aria-label="Select page"></mat-paginator>
  </div>
</div>
