<!-- products is starting -->
<section class="products">
  <div class="container-fluid">
    <div class="row">
      <mat-toolbar class="toolbar">
        <div class="d-flex align-items-center">
          <h2 class="pt-1">Admin Dashboard</h2>
          <button mat-icon-button aria-label="Example icon button with a menu icon"
            (click)="sidnav.toggle()"><mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="menu-admin">
          <button mat-icon-button (click)="logoutAdmin()">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </mat-toolbar>
    </div>
  </div>

  <!-- sidenav is starting -->
  <mat-sidenav-container class="sidnav-container">
    <mat-sidenav #sidnav mode="side" opened class="sidenav">
      <div class="bottom-section">
        <div class="item-list">
          <div class="links">
            <i class="fa fa-check-square"></i>
            <h5 routerLink="/dashboard">Dashboard</h5>
          </div>
          <div class="links">
            <i class="fa fa-check-square"></i>
            <h5 routerLink="/dashboard/profile">Profile</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="item-list">
          <div class="links">
            <i class="fa fa-check-square"></i>
            <h5 routerLink="/dashboard/users">Users</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="item-list">
          <div class="links projects">
            <i class="fa fa-check-square"></i>
            <h5>Blog's</h5>
          </div>
          <ul class="list-unstyled projects-list text-start">
            <li routerLink='/dashboard/add-blog'> add blog </li>
            <li routerLink="/dashboard/blogs"> blog's </li>
          </ul>
        </div>
        <mat-divider></mat-divider>
        <div class="item-list offers">
          <div routerLink="/dashboard/orders" class="links">
            <i class="fa fa-check-square"></i>
            <h5>orders</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="item-list product">
          <div class="links">
            <i class="fa fa-check-square"></i>
            <h5>product</h5>
          </div>
          <ul class="list-unstyled product-list">
            <li routerLink='/dashboard/add-product'> add product </li>
            <li routerLink="/dashboard/products"> products </li>
          </ul>
        </div>
        <mat-divider></mat-divider>

        <div class="item-list brands">
          <div routerLink="/dashboard/messages" class="links">
            <i class="fa fa-check-square"></i>
            <h5>messages</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="item-list">
          <div routerLink="/dashboard/deliverd" class="links">
            <i class="fa fa-check-square"></i>
            <h5>Delieverd</h5>
          </div>
        </div>
        <mat-divider></mat-divider>

        <div class="item-list">
          <div routerLink="/dashboard/canceled" class="links">
            <i class="fa fa-check-square"></i>
            <h5 >Canceled</h5>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-contnet">
      <router-outlet *ngIf="this.url !='/dashboard'; else dashboard"></router-outlet>
      <ng-template #dashboard>
        <div class="text-center mt-5" *ngIf="this.ordersList.length == 0">
          <h2>You Don't Have Requesets Orders Now</h2>
        </div>
        <div class="requsets-orders" *ngIf="this.ordersList.length !=0">
          <h2>Orders Requsets</h2>
          <div *ngFor="let order of ordersList ; let counter = index" class="row m-2">
            <h3>Order ID :{{order._id}}</h3>
            <small style="font-size: 16px; padding-bottom: 5px;">Order No: {{counter + 1}} </small>
            <br /><br />
            <div *ngFor="let item of order.products" class="col-3">
              <div class="card">
                <img [src]="item.product.image" class="card-img-top" alt="product image">
                <div class="card-body">
                  <h5 class="card-title">{{item.product.productName}}</h5>
                  <h6>{{item.product.price | currency:'AED'}}</h6>
                </div>
                <ul class="list-group d-block list-group-flush">
                  <li class="list-group-item">brand : {{item.product.brand}}</li>
                  <li class="list-group-item">Category :{{item.product.category}}</li>
                  <li class="list-group-item">Tag : {{item.product.tag}}</li>
                  <li class="list-group-item">Status : {{item.status}}</li>
                  <li class="list-group-item">Product Count : {{item.ID_NO}}</li>
                </ul>
                <div class="card-footer">
                  <small (click)="changeStatus(item.ID_NO,order._id)" class="text-body-secondary"> <i
                      class="fa fa-send"></i>Change Status</small>
                  <small (click)="viewUserData(order)" class="text-body-secondary mx-2"><i class="fa fa-list"></i>view user</small>
                  <small class="text-body-secondary mx-2">{{order.created_at | date:'short'}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-paginator *ngIf="ordersList.length != 0" class="pagination" (page)="handlePagination($event)" [length]="totalOrders"
      [pageIndex]="currentPage" [pageSize]="pageSize" aria-label="Select page"></mat-paginator>
      </ng-template>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
