<!-- navbar is starting -->
<app-navbar></app-navbar>
<!--navbar is ending-->
<!-- header is starting -->
<section class="header">
  <div class="container">
    <div class="row">
      <div class="title-page">
        <img src="../../assets/images/Logo/White.png" alt="multySmartIcon" />
        <h1>shop our products</h1>
      </div>
    </div>
  </div>
</section>
<!-- header is ending -->

<!-- products is starting -->
<section class="products">
  <div class="container-fluid">
    <div class="row">
      <mat-toolbar class="toolbar">
        <div class="filter">
          <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            filtter by brands
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let brand of brandsList">
              <a class="dropdown-item" (click)="selectBrand(brand.brand)">{{brand.brand}}</a>
            </li>
          </ul>
        </div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" name="searchField" [(ngModel)]="this.searchFiled" placeholder="Search" aria-label="Search">
          <button type="button">Search</button>
        </form>
      </mat-toolbar>
    </div>
  </div>

  <!-- sidenav is starting -->
  <mat-sidenav-container class="products-container">
    <mat-sidenav mode="side" opened class="product-categories">
      <h4>gategories</h4>
      <div class="category" (click)="selectCategory('')">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>all products</h5>
      </div>
      <div *ngFor="let category of categoriesList" (click)="selectCategory(category.category)" class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>{{category.category}}</h5>
      </div>

    </mat-sidenav>
    <mat-sidenav-content class="products-contnet">
      <div class="row">
        <div *ngFor="let product of productsList | paginate:{itemsPerPage:pageSize,currentPage:currentPage,
        totalItems:totalProducts}|filter:this.searchFiled" (click)="navigationProduct(product)" class="col-4 product">
          <img [src]="product.images[0]" alt="multySmartProduct">
          <h4>{{product.productName}}</h4>
          <div class="prices">
            <sup>$</sup><span id="price">{{product.price}}</span>
            <sup>$</sup><span id="save-price"><s>{{product.savePrice}}</s></span>
            <!-- <i class="fa fa-heart"></i><span>10</span> -->
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="d-flex justify-content-center">
    <pagination-controls [responsive]="true" nextLabel="" previousLabel="" (pageChange)="paginationHandle($event)"></pagination-controls>
  </div>
</section>
<!-- products is ending-->


<!-- footer is starting -->
<app-footer></app-footer>
<!--footer is ending-->
