<!-- navbar is starting -->
<app-navbar></app-navbar>
<!--navbar is ending-->
<!-- header is starting -->
<section class="header">
  <div class="container">
    <div class="row">
      <div class="title-page">
        <img src="../../assets/images/Logo/White.png" alt="multySmartIcon" />
        <h1>shop our products</h1>
      </div>
    </div>
  </div>
</section>
<!-- header is ending -->

<!-- products is starting -->
<section class="products">
  <div class="container">
    <div class="row">
      <div *ngIf="this.screenWidth > 992" class="col-lg-3 gategories">
        <div class="d-flex justify-content-center">
          <h3> <i class="fa fa-square"></i> Gategories</h3>
        </div>
        <div *ngFor="let GATEGORY of GATEGORIES" class="class-gategory px-3">
          <div class="category">
            <h5 (click)="selectCategory(GATEGORY)"><i class="fa fa-angle-double-right"></i>{{GATEGORY}}</h5>
          </div>
        </div>
        <div class="pt-2 px-3">
          <h3 style="font-size:24px;padding:0;margin-bottom:0;margin-top:20px;"><i class="fa fa-square"></i> Tags</h3>
          <div class="filter">
            <div *ngFor="let TAG of TAGS" class="tags">
              <div (click)="selectTag(TAG)" class="tag">
                <h5>{{TAG}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-9 p-0">
        <div class="toolbar">
          <!-- sidebar is starting here -->
          <button class="d-lg-none" type="button" data-bs-toggle="offcanvas" mat-icon-button
            data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive"><mat-icon
              style="color: #F4B741;">menu</mat-icon></button>

          <div class="offcanvas-lg offcanvas-end d-lg-none" tabindex="-1" id="offcanvasResponsive"
            aria-labelledby="offcanvasResponsiveLabel">
            <div class="offcanvas-header">
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive"
                aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div class="d-flex justify-content-center">
                <h3> <i class="fa fa-square"></i> Gategories</h3>
              </div>
              <div *ngFor="let GATEGORY of GATEGORIES" class="class-gategory px-3">
                <div class="category">
                  <h5 (click)="selectCategory(GATEGORY)"><i class="fa fa-angle-double-right"></i>{{GATEGORY}}</h5>
                </div>
              </div>
              <div class="pt-2 px-3">
                <h3 style="font-size:24px;padding:0;margin-bottom:0;margin-top:20px;"><i class="fa fa-square"></i> Tags
                </h3>
                <div class="filter">
                  <div *ngFor="let TAG of TAGS" class="tags">
                    <div (click)="selectTag(TAG)" class="tag">
                      <h5>{{TAG}}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- sidebar is ending here -->

          <div class="search">
            <form>
              <input type="text" name="textFilter" #textFilter class="search-input" placeholder="Search" />
              <button (click)="searchFilter(textFilter.value)" class="btn btn-secondary"><i
                  class="fa fa-search"></i></button>
            </form>
          </div>
        </div>
        <div class="dsiplay-product mt-3">
          <div *ngFor="let product of productsList | paginate: {itemsPerPage: pageSize,
              currentPage: currentPage + 1,totalItems: totalProducts} | filter: this.searchText"
            (click)="navigateToProduct(product)" class="col-xs-12 col-sm-6 col-md-4">
            <div class="product-name">
              <div class="image">
                <img class="img-thumbnail" [src]="product.image" alt="image-Product">
              </div>
              <div class="details">
                <h4>{{product.productName}}</h4>
                <p>{{product.price}} AED</p>
              </div>
            </div>
          </div>
          <!-- end product -->
        </div>
      </div>
    </div>
  </div>
</section>

<div class="d-flex justify-content-center">
  <pagination-controls *ngIf="this.productsList.length > 9" class="my-pagination" [responsive]="true" nextLabel=""
    previousLabel="" (pageChange)="paginationHandle($event)"></pagination-controls>
</div>
<!-- products is ending-->


<!-- footer is starting -->
<app-footer></app-footer>
<!--footer is ending-->
