<!-- navbar is starting -->
<app-navbar></app-navbar>
<!--navbar is ending-->
<!-- header is starting -->
<section class="header">
  <div class="container">
    <div class="row">
      <div class="title-page">
        <img src="../../assets/images/Logo/White.png" alt="multySmartIcon" />
        <h1>shop our products</h1>
      </div>
    </div>
  </div>
</section>
<!-- header is ending -->

<!-- products is starting -->
<section class="products">
  <div class="container-fluid">
    <div class="row">
      <mat-toolbar class="toolbar">
        <div class="filter">
          <h5>filtter by offers</h5>
          <i class="fas fa-angle-down"></i>
        </div>

        <div class="filter">
          <h5>filtter by brands</h5>
          <i class="fas fa-angle-down"></i>
        </div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button type="submit">Search</button>
        </form>
      </mat-toolbar>
    </div>
  </div>

  <!-- sidenav is starting -->
  <mat-sidenav-container class="products-container">
    <mat-sidenav mode="side" opened class="product-categories">
      <h4>gategories</h4>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>all products</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>Cctv</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>hvac</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>life smart</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>home cinema</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>access control</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>gate barrier</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>sliding room</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>network solution</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>intercom</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>professional theater</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>lighting control</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>smart class</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>knx home automation</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>z-wave home automation</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>knx ekinex</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>moorgen</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>HDL</h5>
      </div>
      <div class="category">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <h5>wifi</h5>
      </div>

    </mat-sidenav>
    <mat-sidenav-content class="products-contnet">
      <div class="row">
        <div class=" col-4 product">
          <img src="../../assets/images/Products/cctv.png" alt="multySmartProduct">
          <h4>camera style</h4>
          <div class="prices">
            <sup>$</sup><span id="price">32</span>
            <sup>$</sup><span id="save-price"><s>50</s></span>
            <i class="fa fa-heart"></i><span>10</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>

        <div class=" col-4 product">
          <img src="../../assets/images/Products/cctv.png" alt="multySmartProduct">
          <h4>camera style</h4>
          <div class="prices">
            <sup>$</sup><span id="price">32</span>
            <sup>$</sup><span id="save-price"><s>50</s></span>
            <i class="fa fa-heart"></i><span>10</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>

        <div class=" col-4 product">
          <img src="../../assets/images/Products/cctv.png" alt="multySmartProduct">
          <h4>camera style</h4>
          <div class="prices">
            <sup>$</sup><span id="price">32</span>
            <sup>$</sup><span id="save-price"><s>50</s></span>
            <i class="fa fa-heart"></i><span>10</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>

      </div>

      <div class="row">
        <div class=" col-4 product">
          <img src="../../assets/images/Products/cctv.png" alt="multySmartProduct">
          <h4>camera style</h4>
          <div class="prices">
            <sup>$</sup><span id="price">32</span>
            <sup>$</sup><span id="save-price"><s>50</s></span>
            <i class="fa fa-heart"></i><span>10</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>

        <div class=" col-4 product">
          <img src="../../assets/images/Products/cctv.png" alt="multySmartProduct">
          <h4>camera style</h4>
          <div class="prices">
            <sup>$</sup><span id="price">32</span>
            <sup>$</sup><span id="save-price"><s>50</s></span>
            <i class="fa fa-heart"></i><span>10</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>

        <div class=" col-4 product">
          <img src="../../assets/images/Products/cctv.png" alt="multySmartProduct">
          <h4>camera style</h4>
          <div class="prices">
            <sup>$</sup><span id="price">32</span>
            <sup>$</sup><span id="save-price"><s>50</s></span>
            <i class="fa fa-heart"></i><span>10</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
      </div>

      <div class="row">
        <div class=" col-4 product">
          <img src="../../assets/images/Products/cctv.png" alt="multySmartProduct">
          <h4>camera style</h4>
          <div class="prices">
            <sup>$</sup><span id="price">32</span>
            <sup>$</sup><span id="save-price"><s>50</s></span>
            <i class="fa fa-heart"></i><span>10</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>

        <div class=" col-4 product">
          <img src="../../assets/images/Products/cctv.png" alt="multySmartProduct">
          <h4>camera style</h4>
          <div class="prices">
            <sup>$</sup><span id="price">32</span>
            <sup>$</sup><span id="save-price"><s>50</s></span>
            <i class="fa fa-heart"></i><span>10</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>

        <div class=" col-4 product">
          <img src="../../assets/images/Products/cctv.png" alt="multySmartProduct">
          <h4>camera style</h4>
          <div class="prices">
            <sup>$</sup><span id="price">32</span>
            <sup>$</sup><span id="save-price"><s>50</s></span>
            <i class="fa fa-heart"></i><span>10</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>



</section>
<!-- products is ending-->


<!-- footer is starting -->
<app-footer></app-footer>
<!--footer is ending-->
