
// header is calling
@import '../../assets/styles/header.scss';
@mixin h3 {
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 30px;
  line-height: 47px;
  text-transform: uppercase;
  color:#B7BF96;
}

@mixin h5 {
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 18px;
  line-height: 47px;
  text-transform: uppercase;
  color:#B7BF96;
}

@mixin a {
  font-family: 'Crimson Pro';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
}

// products is starting
.products{
  padding-bottom: 50px;
}
.products .gategories {
  padding-top: 20px;
}
.products .gategories h3{
 @include h3(); 
 padding-top: 5px;
 padding-bottom: 20px;
 color: rgba($color: #133A1B, $alpha: .6);
}
.products .gategories .category  h5{
  @include h5(); 
  border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
  width: 80%;
  color: rgba($color: #133A1B, $alpha: .6);
 }
.products .gategories i{
  font-size: 14px;
  color: #F4B741; 
 }
 .products .gategories .category h5:hover{
  color: #F4B741;
  cursor: pointer;
 }
.products .toolbar {
  display: flex;
  justify-content:space-evenly;
  padding-top:20px;
  align-items: baseline;
}
.products .toolbar .filter a{
  @include a();
  color: rgba($color: #133A1B, $alpha: .6);
  padding-right: 5px;  
}
.products .toolbar .filter i{
  font-size: 18px;
  color: #F4B741;  
}
.products .toolbar .search input{
  outline: none;
  border: none;
  border: 2px solid #B7BF96;
  color: #B7BF96;
  border-radius: 15px;
  padding: 12px;
}
.products .toolbar .search input::placeholder{
  font-family: "Crimson Pro";
  font-weight: 300;
  font-size: 14px;
  color: #B7BF96;
}
.products .toolbar .search button{
    border: none;
    outline: none;
    padding: 10px;
    background-color: #B7BF96;
    color: rgba($color: #133A1B, $alpha: .6);
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 5px;
    font-family: "Crimson Pro";
}
.products .dsiplay-product {
  width: 100%;
  padding:40px 20px;
  margin: auto;
}
.products .dsiplay-product .product:hover{
  cursor: pointer;
}
.products .dsiplay-product .product-name .image img {
    width: 100%;
    height: 350px;
}
.products .dsiplay-product .product-name .details {
  display: block;
  padding-top: 10px;
}
.products .dsiplay-product .product-name .details  h4{
  font-family: 'Crimson Pro';
  font-size: 20px;
  text-transform:uppercase;
  color: #B7BF96; 
  font-weight: 400;
  margin-bottom: 8px;
}

.products .dsiplay-product .product-name .details  p{
  font-family: 'Crimson Pro';
  font-size: 18px;
  text-transform: uppercase;
  color: rgba($color: #133A1B, $alpha: .6); 
  font-weight: 400;
}
.products .dsiplay-product .product-name .details #offer-price {
  color: rgba($color: #F4B741, $alpha: .6);
  font-size: 16px;
  font-weight: 500;
}
.products .gategories .filter .price h5{
  font-family: 'Crimson Pro';
  font-weight: 400; 
  font-size: 16px;
  color: rgba($color: #133A1B, $alpha: .6);
  margin: 0;
  padding: 0;
  line-height: 2;
}
.products .filter .tags{
  margin-top: 20px;
}
.products .filter .tags .tag h5{
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba($color: #133A1B, $alpha: .6);
}
.products .filter .tags .tag :hover{
  color: #F4B741;
  cursor: pointer;
}
