<!-- navbar is starting -->
<app-navbar></app-navbar>
<!--navbar is ending-->


<!-- header is starting -->
<section class="header">
  <div class="container">
    <div class="row">
      <div class="title-page">
        <img src="../../assets/images/Logo/White.png" alt="multySmartIcon" />
        <h1>services</h1>
      </div>
    </div>
  </div>
</section>
<!-- header is ending -->

<!-- services is starting  -->
<section class="services">
  <div class="container">
    <div class="row">
      <h2>Smart Home</h2>
      <div class="col-3">
        <div class="service">
          <div class="service-image">
            <img src="../../assets/images/Partners/Eknex.jpg" alt="Eknex.jpg">
          </div>
          <div class="service-details">
            <h4>Curation Smart</h4>
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-3">

      </div>
      <div class="col-3">

      </div>
      <div class="col-3">

      </div>
    </div>
  </div>
</section>

<!-- services is ending -->

<!-- footer is starting -->
<app-footer></app-footer>
<!--footer is ending-->
