
// header is calling
@import '../../assets/styles/header.scss';

@mixin h2 {
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 45px;
  line-height: 70px;
  text-transform: uppercase;
  color:#133A1B;
}
@mixin p{
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #011B10;
  margin-bottom: 50px;
}
@mixin h4 {
  font-family: 'El Messiri';
  font-weight: 700;
  font-size: 25px;
  line-height: 39px;
  text-transform: uppercase;
}
@mixin p-text {
  font-family: 'Crimson Pro';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 70%;
}

@mixin before-image {
  position:absolute;
  content: '';
  width: 250px;
  height: 300px;
}
@mixin image {
  max-width: 300px;
  height: 300px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 29px 31px 0px;
}
// wired-services is starting

.wired-services{
  margin-bottom: 100px;
}
.wired-services .services-title{
  font-style: normal;
  text-align: center;
  padding-top: 50px;
}
.wired-services .services-title h2{
  @include h2;
}

.wired-services .services-title p{
  @include p;
  width: 70%;
  margin: auto;
}
.wired-services .services-brand{
  display:inline-block;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 40%;
  height: 180px;
  padding: 10px;
  text-align: center;
  margin: 10px;
}
.wired-services .services-brand h4{
  @include h4;
  margin:0;
}

.wired-services .services-brand ul > li{
  font-family: 'Crimson Pro';
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #011B10;
}
// wired-services is ending

// smart curation is starting
.smart-curation{
  background: #B7BF96;
  border-radius: 18px;
  height: auto;
  margin-bottom: 100px;
  padding: 40px 10px;
  position: relative;
}
.smart-curation .image-section::before{
  @include before-image;
  background-color: #E4DEAE;
  left: 130px;
  bottom: 70px;
}
.smart-curation .image-section img{
  @include image;
}
.smart-curation .title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.smart-curation .title-section h4{
  @include h4;
  color: #000000;
}
.smart-curation .title-section p{
  @include p-text;
  color: #000000;
}
// smart curation is ending

// meeting room is starting
.meeting-room{
  border-radius: 18px;
  height: auto;
  margin-bottom: 100px;
  padding: 40px 10px;
  position: relative;
}
.meeting-room .image-section::before{
  @include before-image();
  background: #011B10;
  right: 150px;
  bottom: 80px;
}
.meeting-room .image-section img{
  @include image;
}
.meeting-room .title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.meeting-room .title-section h4{
  @include h4;
  color: #133A1B;
}
.meeting-room .title-section p{
  @include p-text;
  color: #011B10;
}
// meeting room is ending

// home-cinema is starting
.home-cinema{
  background: #E4DEAE;
  border-radius: 18px;
  height: auto;
  margin-bottom: 100px;
  padding: 40px 10px;
  position: relative;
}
.home-cinema .image-section::before{
  @include before-image();
  background: #B7BF96;
  left: 130px;
  bottom: 70px;
}
.home-cinema .image-section img{
  @include image();
}
.home-cinema .title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.home-cinema .title-section h4{
  @include h4;
  color: #133A1B;
}
.home-cinema .title-section p{
  @include p-text;
  color: #011B10;
}
// home-cinema is ending

// sliding-door is starting
.sliding-door{
  border-radius: 18px;
  height: auto;
  margin-bottom: 100px;
  padding: 40px 10px;
  position: relative;
}
.sliding-door .image-section::before{
  @include before-image();
  background: #133A1B;
  right: 150px;
  bottom: 80px;
}
.sliding-door .image-section img{
  @include image();
}
.sliding-door .title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.sliding-door .title-section h4{
  @include h4;
  color: #133A1B;
}
.sliding-door .title-section p{
  @include p-text;
  color: #011B10;
}
// sliding-door is ending


// controls and security started
.security-control{
  margin-bottom: 100px;
  font-size: normal;
  text-align: center;
}
.security-control .head{
  padding-bottom: 100px;
}
.security-control .head h2{
  @include h2;
}
.security-control .service{
  border: 1px solid #B7BF96;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.security-control .service span{
  font-family: 'El Messiri';
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #133A1B;
  border: 1px solid #000000;
  border-radius: 50%;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-top: -50px;
  margin-bottom: 50px;
  background-color: #FFFFFF;
  padding-top: 40px;
}

.security-control .service ul > li{
  font-family: 'Crimson Pro';
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #011B10;
  margin-bottom: 20px;
}
// controls and security started

// other services started
.other-services{
  margin-bottom: 100px;
  font-size: normal;
  text-align: center;
}
.other-services .head{
  padding-bottom: 100px;
}
.other-services .head h2{
  @include h2;
}
.other-services .head p{
  @include p;
}
.other-services .carousel-inner {
  width: 100%;
  height: 100%;
}

.other-services .carousel-inner .carousel-item img{
  width: 260px;
  height: 260px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.other-services .carousel-inner .carousel-item h4{
  @include h4;
  color: #000000;
  padding-top: 20px;
}
.other-services .carousel-inner .carousel-item p{
  @include p-text();
  font-size: 16px;
  color: #000000;
  width: 70%;
  margin: auto;
}
// other services ended
