<!-- navbar is starting -->
<app-navbar></app-navbar>
<!--navbar is ending-->


<!-- header is starting -->
<section class="header">
  <div class="container">
    <div class="row">
      <div class="title-page">
        <img src="../../assets/images/Logo/White.png" alt="multySmartIcon" />
        <h1>explore our services</h1>
      </div>
    </div>
  </div>
</section>
<!-- header is ending -->

<!-- wired services is starting -->
<section class="wired-services">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="services-title">
          <h2>wired services</h2>
          <p>The best Instagram clips are available for you on Lorem ipsum dolor sit amet.
            Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi consequatur cum consequatur optio
            eum tempora galisum</p>
        </div>
      </div>
      <div class="col-5">
        <div class="services-brand">
          <h4>ekniex</h4>
          <ul class="list-inline-item pe-3">
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
          </ul>
        </div>
        <div class="services-brand">
          <h4>moorgen</h4>
          <ul class="list-inline-item pe-3">
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
          </ul>
        </div>
        <div class="services-brand">
          <h4>knx</h4>
          <ul class="list-inline-item pe-3">
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
          </ul>
        </div>
        <div class="services-brand">
          <h4>hdl</h4>
          <ul class="list-inline-item pe-3">
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- wired services is ending -->


<!-- smart curtaion is starting-->
<section class="smart-curation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="image-section d-flex justify-content-center">
          <img src="../../assets/images/Services/smartCuration.jpg" alt="MultySmart smart curation">
        </div>
      </div>
      <div class="col-6">
        <div class="title-section text-center">
          <h4>smart curtain</h4>
          <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
            consequatur cum consequatur optio eum tempora galisum. Eos ducimus consequuntur aut autem autem qui alias
            autem sed dolor repellendus et cumque incidunt vel dolor explicabo.
            Ut provident dolores sed quos reprehenderit sed aspernatur architecto qui voluptas aliquid.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- smart curtaoin  is ending -->

<!-- meeting room is starting-->
<section class="meeting-room">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="title-section text-center">
          <h4>meeting room</h4>
          <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
            consequatur cum consequatur optio eum tempora galisum. Eos ducimus consequuntur aut autem autem qui alias
            autem sed dolor repellendus et cumque incidunt vel dolor explicabo.
            Ut provident dolores sed quos reprehenderit sed aspernatur architecto qui voluptas aliquid.</p>
        </div>
      </div>
      <div class="col-6">
        <div class="image-section d-flex justify-content-center">
          <img src="../../assets/images/Services/meethingRoom.jpg" alt="MultySmart smart curation">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- meeting room is ending -->

<!-- home cinema is starting-->
<section class="home-cinema">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="image-section d-flex justify-content-center">
          <img src="../../assets/images/Services/homeCinema.jpg" alt="MultySmart smart curation">
        </div>
      </div>
      <div class="col-6">
        <div class="title-section text-center">
          <h4>smart curtain</h4>
          <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
            consequatur cum consequatur optio eum tempora galisum. Eos ducimus consequuntur aut autem autem qui alias
            autem sed dolor repellendus et cumque incidunt vel dolor explicabo.
            Ut provident dolores sed quos reprehenderit sed aspernatur architecto qui voluptas aliquid.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- home cinema  is ending -->

<!-- sliding door is starting-->
<section class="sliding-door">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="title-section text-center">
          <h4>sliding door</h4>
          <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
            consequatur cum consequatur optio eum tempora galisum. Eos ducimus consequuntur aut autem autem qui alias
            autem sed dolor repellendus et cumque incidunt vel dolor explicabo.
            Ut provident dolores sed quos reprehenderit sed aspernatur architecto qui voluptas aliquid.</p>
        </div>
      </div>
      <div class="col-6">
        <div class="image-section d-flex justify-content-center">
          <img src="../../assets/images/Services/SlidingDoor1.png" alt="MultySmart smart curation">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- sliding door is ending -->

<!-- security & control services is starting -->
<section class="security-control">
  <div class="container">
    <div class="row">
      <div class="head text-center">
        <h2>security & control services</h2>
      </div>
      <div class="col-4">
        <div class="service">
          <span>cctv</span>
          <ul class="list-inline-item">
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <div class="service">
          <span>hvac control</span>
          <ul class="list-inline-item">
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <div class="service">
          <span>smart sounds</span>
          <ul class="list-inline-item">
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
            <li>Lorem Ipesm</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- security & control services is ending -->

<!-- other services is starting -->
<section class="other-services">
  <div class="container">
    <div class="head text-center">
      <h2>Other services</h2>
      <p>The best Instagram clips are available for you on Lorem ipsum dolor sit amet.</p>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators  d-none">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active d-flex">
          <div class="row">
            <div class="col-4">
              <img src="../../assets/images/Services/lifesmartcat2.jpg" alt=".." />
              <h4>Other services</h4>
              <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
                consequatur cum consequatur optio eum tempora galisum.</p>
            </div>
            <div class="col-4">
              <img src="../../assets/images/Services/gatebarreir.jpg" alt=".." />
              <h4>Other services</h4>
              <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
                consequatur cum consequatur optio eum tempora galisum.</p>
            </div>
            <div class="col-4">
              <img src="../../assets/images/Services/lifesmartcat2.jpg" alt=".." />
              <h4>Other services</h4>
              <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
                consequatur cum consequatur optio eum tempora galisum.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-4">
              <img src="../../assets/images/Services/smartCuration.jpg" alt=".." />
              <h4>Other services</h4>
              <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
                consequatur cum consequatur optio eum tempora galisum.</p>
            </div>
            <div class="col-4">
              <img src="../../assets/images/Services/SlidingDoor1.png" alt=".." />
              <h4>Other services</h4>
              <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
                consequatur cum consequatur optio eum tempora galisum.</p>
            </div>
            <div class="col-4">
              <img src="../../assets/images/Services/meethingRoom.jpg" alt=".." />
              <h4>Other services</h4>
              <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
                consequatur cum consequatur optio eum tempora galisum.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-4">
              <img src="../../assets/images/Services/light.jpg" alt=".." />
              <h4>Other services</h4>
              <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
                consequatur cum consequatur optio eum tempora galisum.</p>
            </div>
            <div class="col-4">
              <img src="../../assets/images/Services/homeCinema.jpg" alt=".." />
              <h4>Other services</h4>
              <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
                consequatur cum consequatur optio eum tempora galisum.</p>
            </div>
            <div class="col-4">
              <img src="../../assets/images/Services/SlidingDoor1.png" alt=".." />
              <h4>Other services</h4>
              <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
                consequatur cum consequatur optio eum tempora galisum.</p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="fas fa-arrow-circle-left fa-2x bg-white" aria-hidden="true"
          style="margin-left:-100px; margin-top: -100px; color:#B7BF96; box-shadow: 0 0 5px #000; padding: 5px; border-radius: 10px;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="fas fa-arrow-circle-right fa-2x bg-white" aria-hidden="true"
          style="margin-right:-100px; margin-top: -100px; padding: 5px; color: #B7BF96; box-shadow: 0 0 5px #000; border-radius: 10px;"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<!-- other services services is ending -->

<!-- footer is starting -->
<app-footer></app-footer>
<!--footer is ending-->
