<!-- navbar is starting -->
<app-navbar></app-navbar>
<!--navbar is ending-->

<!-- header is starting -->
<section class="header">
  <div class="container">
    <div class="row">
      <div class="title-page">
        <img src="../../assets/images/Logo/White.png" alt="multySmartIcon" />
        <h1>product Name</h1>
      </div>
    </div>
  </div>
</section>
<!-- header is ending -->


<!-- procucts is starting -->
<section class="product-name">
  <div class="container">
    <div class="row">
      <div class="col-6 images-container">
        <div class="product-image">
          <img src="../../assets/images/Products/knxe2.png" alt="MultySmartProduct" />
        </div>
        <div class="product-image">
          <img src="../../assets/images/Products/knxe4.png" alt="MultySmartProduct" />
        </div>
        <div class="product-image">
          <img src="../../assets/images/Products/71-gbu.png" alt="MultySmartProduct" />
        </div>
        <div class="product-image">
          <img src="../../assets/images/Products/photo_5868503010013985228_y.jpg" alt="MultySmartProduct" />
        </div>
      </div>
      <div class="col-6 product-details">
        <div class="description">
          <p>Perhaps far exposed age effects.Now distrusts you her delivered applauded affection out sincerPerhaps far
            exposed age effects.Now distrusts you her delivered applauded affection out sincerityity</p>
        </div>
        <div class="rating">
          <div class="stars-rating">
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star fa-2x"></i>
          </div>
          <h5>(22,677 Rating | 122 Reviews)</h5>
        </div>
        <div class="prices">
          <span>$<strong>32</strong></span>
          <span><sup>$</sup><s>50</s></span>
          <span><strong>save </strong> $18</span>
          <i class="fa fa-heart"> <span> 300</span></i>
        </div>
        <div class="add-to-cart d-flex">
          <div class="total-products me-5 pt-2">
            <i class="fa fa-minus"></i>
            <span>1</span>
            <i class="fa fa-plus"></i>
          </div>
          <button>add to cart</button>
        </div>
        <div class="product-speceifcation mt-5">
          <div class="d-flex justify-content-between align-items-end" data-bs-toggle="collapse" href="#collapseExample"
            role="button" aria-expanded="false" aria-controls="collapseExample">
            <h4>description</h4>
            <i class="fa fa-plus"></i>
          </div>
          <hr />
          <p class="collapse" id="collapseExample">Perhaps far exposed age effects.Now distrusts you her delivered
            applauded affection out sincerPerhaps far
            exposed age effects.Now distrusts you her delivered applauded affection out sincerityity</p>
        </div>
        <div class="product-speceifcation mt-2">
          <div class="d-flex justify-content-between align-items-end" data-bs-toggle="collapse" href="#collapseExample2"
            role="button" aria-expanded="false" aria-controls="collapseExample">
            <h4>product fetureds</h4>
            <i class="fa fa-plus"></i>
          </div>
          <hr />
          <p class="collapse" id="collapseExample2">Perhaps far exposed age effects.Now distrusts you her delivered
            applauded affection out sincerPerhaps far
            exposed age effects.Now distrusts you her delivered applauded affection out sincerityity</p>
        </div>
        <div class="product-speceifcation mt-2">
          <div class="d-flex justify-content-between align-items-end" data-bs-toggle="collapse" href="#collapseExample3"
            role="button" aria-expanded="false" aria-controls="collapseExample">
            <h4>product details</h4>
            <i class="fa fa-plus"></i>
          </div>
          <hr />
          <p class="collapse" id="collapseExample3">Perhaps far exposed age effects.Now distrusts you her delivered
            applauded affection out sincerPerhaps far
            exposed age effects.Now distrusts you her delivered applauded affection out sincerityity</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- products is ending -->

<!-- brands related is starting -->
<section class="brands-related">
  <div class="container">
    <h2>brands realted with product</h2>
    <div class="row">
      <div class="col-4 images">
        <img src="../../assets/images/Products/knxe2.png" alt="multySmart" />
      </div>
      <div class="col-4 images">
        <img src="../../assets/images/Products/knxe4.png" alt="multySmart" />
      </div>
      <div class="col-4 images">
        <img src="../../assets/images/Products/photo_5868503010013985228_y.jpg" alt="multySmart" />
      </div>
    </div>
  </div>
</section>
<!-- brands related is ending -->

<!-- reviews is starting -->
<section class="reviews">
  <div class="container">
    <h2>reviews</h2>
    <div class="d-flex">
      <div class="rating mt-5">
        <div class="total-rating">
          <div class="rating-stars mb-2">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <h4> 122 Reviews </h4>
        </div>
        <div class="d-flex mt-5">
          <div class="stars me-5">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <h5> 122 reviews</h5>
        </div>
        <div class="d-flex">
          <div class="stars me-5">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star" style="color: black;"></i>
          </div>
          <h5> 122 reviews</h5>
        </div>
        <div class="d-flex">
          <div class="stars me-5">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star" style="color: black;"></i>
            <i class="fa fa-star" style="color: black;"></i>
          </div>
          <h5> 122 reviews</h5>
        </div>
        <div class="d-flex">
          <div class="stars me-5">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star" style="color: black;"></i>
            <i class="fa fa-star" style="color: black;"></i>
            <i class="fa fa-star" style="color: black;"></i>
          </div>
          <h5> 122 reviews</h5>
        </div>
        <div class="d-flex">
          <div class="stars me-5">
            <i class="fa fa-star"></i>
            <i class="fa fa-star" style="color: black;"></i>
            <i class="fa fa-star" style="color: black;"></i>
            <i class="fa fa-star" style="color: black;"></i>
            <i class="fa fa-star" style="color: black;"></i>
          </div>
          <h5> 122 reviews</h5>
        </div>
        <button>write a reviews</button>
      </div>
      <div class="posts d-flex flex-column">
        <div class="post">
          <h3>client name</h3>
          <div class="">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <h5>title review</h5>
          <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
            consequatur cum consequatur optio eum tempora galisum. Eos ducimus consequuntur aut autem autem qui alias
            autem sed dolor repellendus et cumque incidunt vel dolor explicabo. Ut provident dolores sed quos
            reprehenderit sed aspernatur architecto qui voluptas aliquid.</p>
        </div>
        <div class="post">
          <h3>client name</h3>
          <div class="">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <h5>title review</h5>
          <p>Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
            consequatur cum consequatur optio eum tempora galisum. Eos ducimus consequuntur aut autem autem qui alias
            autem sed dolor repellendus et cumque incidunt vel dolor explicabo. Ut provident dolores sed quos
            reprehenderit sed aspernatur architecto qui voluptas aliquid.</p>
        </div>
        <button>see more</button>
      </div>
    </div>
  </div>
</section>
<!-- reviews is ending -->

<!-- footer is starting -->
<app-footer></app-footer>
<!--footer is ending-->
