<!-- navbar is starting -->
<app-navbar></app-navbar>
<!--navbar is ending-->

<!-- header is starting -->
<section class="header">
  <div class="container">
    <div class="row">
      <div class="title-page">
        <img src="../../assets/images/Logo/White.png" alt="multySmartIcon" />
        <h1>Product Page</h1>
      </div>
    </div>
  </div>
</section>
<!-- header is ending -->

<!-- product is starting  -->
<section class="product">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <div class="product-image">
          <img [src]="productInfo.image" class="img-thumbnail" alt="productImg">
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="product-details">
          <div class="product-name">
            <h3>{{productInfo.productName}}</h3>
          </div>
          <div class="product-price">
            <span>{{productInfo.price}} AED</span>
          </div>
          <div class="product-description">
            <p>{{productInfo.description}}.</p>
          </div>
          <div class="product-brand">
            <h5> brand : <span> {{productInfo.brand}}</span></h5>
          </div>
          <div class="product-brand">
            <h5> type : <span>{{productInfo.category}}</span></h5>
          </div>
          <div class="cart">
            <div class="count">
              <span (click)="productCountCalcDecrease(this.productCounter)"
                class="material-symbols-outlined">remove</span>
              <span>{{this.productCounter}}</span>
              <span (click)=" productCountCalcIncrease(this.productCounter)"
                class="material-symbols-outlined">add_circle</span>
            </div>
            <button (click)="backToShop()" class="back-to-shop">back to Shop <i class="fa solid fa-refresh"></i></button>
            <button (click)="addToCartPage()">add to cart</button>
          </div>
          <div class="shipping-product">
            <h3>shipping information</h3>
            <div class="deleviery-details">
              <h5>Emirates:</h5>
              <p> Dubai - Sharjha - Al-Ain - Ras Al-Khima </p>
              <p> - Abu Dhabi - Fujiraha - EM Qaiuain </p>
            </div>
            <div class="deleviery-details">
              <h5>pay methods:</h5>
              <p>Cash Only</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- product is ending -->
    <div class="row">
      <div class="container">
        <div class="features-reviews">
          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Reviews({{commentsProductList.length}})">
              <div class="reviews-counts">
                <h5>{{commentsProductList.length}} REVIEWS FOR SHIP YOUR PRODUCT</h5>
              </div>
              <div class="reviews-text">
                <div class="reviews-users">
                  <!-- user data started -->
                  <div *ngFor="let comment of commentsProductList | paginate: {itemsPerPage: pageSize,
                    currentPage: currentPage + 1 , totalItems: totalComments}" class="user">
                    <div *ngIf="commentsProductList.length!=0" class="user-details">
                      <h5>{{comment.username}}</h5>
                      <p>{{comment.comment}}.</p>
                    </div>
                    <div *ngIf="commentsProductList.length == 0" class="user-details">
                      <h3>A Product Don't have Reviews</h3>
                    </div>
                    <div class="user-date">
                      <h5 style="font-weight: 500;font-size: 12px; font-family: 'El Messiri';">{{comment.created_at |
                        date:'short'}}</h5>
                    </div>
                  </div>
              </div>
                <!-- user data ended -->
                <div *ngIf="this.commentsProductList.length > 6" class="d-flex justify-content-center">
                  <pagination-controls class="my-pagination" [responsive]="true" nextLabel="" previousLabel=""
                    (pageChange)="paginationHandle($event)"></pagination-controls>
                </div>
              </div>
              <div class="new-review">
                <h5>Write A Review </h5>
                <div class="row">
                  <form [formGroup]="commentProductForm" (ngSubmit)="createProductComment()">
                    <div class="form w-100">
                      <div class="label">
                        <label for="firstName">first name</label>
                        <input type="text" id="firstName" name="firstName" placeholder="First Name"
                          formControlName="firstName" />
                      </div>
                      <div class="label">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" placeholder="Last Name"
                          formControlName="lastName" />
                      </div>
                    </div>
                    <div>
                      <div class="label w-100">
                        <label for="comment">Comment</label>
                        <textarea name="comment" placeholder="write a message here ...." id="comment" cols="30"
                          rows="10" formControlName="comment"></textarea>
                      </div>
                    </div>
                    <div class="text-end">
                      <button type="submit"> post review </button>
                    </div>
                  </form>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product is ending -->

<!-- footer is starting -->
<app-footer></app-footer>
<!--footer is ending-->
