<!-- start navbar -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../../assets/images/Logo/Dark Green.png"/></a>
    <a class="icons"  style="margin-left: 150px;"
    [ngClass]="{displayIcons:this.widthOfScreen>992}">
      <i class="fa fa-shopping-cart" aria-hidden="true" routerLink="/checkout"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
          </li>

          <li class="nav-item">
          <a class="nav-link" routerLink="/videos">videos</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" routerLink="/brands">Brands</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" routerLink="/services">Services</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" routerLink="/process">process</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" routerLink="/contact-us">Contact Us</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" routerLink="/about-us">About Us</a>
          </li>
          <a class="icons"  [ngClass]="{displayIcons:this.widthOfScreen<992}">
            <i class="fa fa-shopping-cart"  routerLink="/checkout"></i>
          </a>
        </ul>
    </div>
  </div>
</nav>
<!-- end navbar -->

