.navbar {
  font-family: 'Poppins';
  background-color: #FFF;
  box-sizing: border-box;
  height: 70px;
  user-select: none;
}

.navbar .navbar-brand>img {
  max-width: 110px;
  max-height: 110px;
  cursor: -webkit-grab;
  user-select: none;
}

.navbar .collapse {
  margin-left: 400px;
}

@media screen and (min-width:992px) and (max-width:1200px) {
  .navbar .collapse {
    margin-left: 200px;
  }
}

@media screen and (min-width:1200px) {
  .navbar .collapse {
    margin-left: 400px;
  }
}

.navbar .navbar-nav .login {
  display: flex;
  margin-left: 50px;
  flex-wrap: wrap;
}

.navbar .navbar-nav .login i {
  margin-left: 5px;
  font-size: 18px;
}

.navbar .navbar-nav .login i>span {
  position: absolute;
  top: -1px;
  right: 7px;
  background-color: #B7BF96;
  display: inline-block;
  padding: 3px;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  font-size: 10px;
  text-align: center;
}

.navbar .navbar-nav .login .nav-item .nav-link:hover {
  color: #133A1B;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-top: 10px;
  line-height: 18px;
  color: rgba($color: #133A1B, $alpha: .6);
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  cursor: -webkit-grab;
}

::ng-deep .menu {
  background-color: white;
}

::ng-deep .menu-item {
  color: #133A1B;
  font-size: 16px;
  font-weight: 400;
  font-family: "Crimson Pro";
}

::ng-deep .menu-item {
  color: #133A1B;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: 'Crimson Pro';
}

::ng-deep .menu-item:hover {
  color: #DDD;
}

::ng-deep .menu-item .mat-icon,
::ng-deep .notifications-item .mat-icon {
  color: #133A1B;
}

.navbar .navbar-nav .nav-item .nav-link:focus,
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #133A1B;
}

@media screen and (max-width:992px) {
  .navbar .navbar-nav .nav-item .nav-link {
    margin-bottom: 4px;
    margin-left: 12px;
  }

  .navbar {
    height: auto;
  }

  :focus {
    outline: none;
    border: none;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar .navbar-brand>h2 {
    font-size: 22px;
    margin-left: 10px;
  }

  .navbar .navbar-nav .nav-link .icon {
    margin-left: 12px;
  }

  .navbar .collapse {
    margin-left: 0px;
  }

  .navbar .navbar-nav .login {
    margin-left: 0;
  }
}

/* end navbar */
