<!-- start navbar -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../../assets/images/Logo/Dark Green.png" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/shop">Shop</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/blogs">Blogs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">Contact Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">About Us</a>
        </li>
        <div class="login">
          <li class="nav-item">
            <!-- show when user is logged in  -->
            <button *ngIf="this.userIsLogin" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon style="color: #133A1B; opacity: .6; margin-bottom:5px;">account_circle</mat-icon>
            </button>
            <mat-menu xPosition="before" class="menu" #menu="matMenu">
              <button (click)="moveToProfile()" mat-menu-item class="menu-item">
                <mat-icon>account_circle</mat-icon>
                <span>profile</span>
              </button>
              <button (click)="logoutUser()" mat-menu-item class="menu-item">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
              </button>
            </mat-menu>
              <!-- show when user is logged out -->
            <a *ngIf="!this.userIsLogin" class="nav-link loggedIn" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart"><i class="fas fa-shopping-cart"><span
                  *ngIf="this.cartCount > 0">{{this.cartCount }}</span></i></a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
<!-- end navbar -->
