.navbar{
  font-family: 'El Messiri';
  background-color: #FFF;
  box-sizing: border-box;
  height: 90px;
}

.navbar .navbar-brand > img{
  max-width: 120px;
  max-height: 120px;
  cursor: -webkit-grab;
}

.navbar .collapse{
  margin-left: 400px;
}
@media screen and (min-width:992px) and (max-width:1200px) {
  .navbar .collapse{
    margin-left: 200px;
  }
}
@media screen and (min-width:1200px) {
  .navbar .collapse{
    margin-left: 400px;
  }
}

.navbar .navbar-nav .nav-item .nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-top: 10px;
  line-height: 18px;
  color: #133A1B;
  text-decoration: none;
  text-transform: capitalize;
  cursor: -webkit-grab;
}

.navbar .navbar-nav .nav-item .nav-link:focus,
.navbar .navbar-nav .nav-item .nav-link:hover{
  color: #B7BF96;
}


@media screen and (max-width:992px){
  .navbar .navbar-nav .nav-item .nav-link{
      margin-bottom: 4px;
      margin-left: 12px;
  }

  :focus{
      outline: none;
  }

  .navbar{
      height: auto;
  }
  .navbar-light .navbar-toggler{
      border: none;
  }

  .navbar .navbar-brand >h2 {
      font-size: 22px;
      margin-left: 10px;
  }
  .navbar .navbar-nav .nav-link .icon{
      margin-left: 12px;
  }
  .navbar .collapse{
    margin-left:0px;
  }
}
/* end navbar */
