
// add-product is starting
.add-product{
  margin-top: 50px;
}
.add-product .info-form h3{
  font-family: 'El Messiri';
  font-weight: 200;
  font-size: 30px;
  text-transform: uppercase;
  color: #10002b;
  width: 16%;
  border-bottom: 2px solid #5e548e;
}
.add-product .info-form .label {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.add-product .info-form .label label{
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 18px;
  text-align: start;
  color: #5e548e;
  margin-bottom: 5px;
}
.add-product .info-form .label input,
.add-product .info-form .label textarea,
.add-product .info-form .label select {
  font-style: normal;
  font-family: 'Crimson Pro';
  font-weight: 300;
  text-transform: capitalize;
  font-size: 16px;
  text-align: start;
  outline: none;
  border: 1px solid rgba($color: #ccc, $alpha: .6);
  padding: 20px 40px;
  color: #10002b;
  border-radius: 10px;
}

.add-product .info-form .label input::placeholder{
  color: #5e548e;
}

.add-product .info-form button{
  border: none;
  outline: none;
  width: 20%;
  margin: 0 auto;
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: -webkit-grab;
  font-family: "Crimson Pro";
  background-color: #10002b;
  color: #FFFFFF;
}
.add-product .info-form button:hover{
  color: #FFF;
  background-color: #5e548e;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

