<!-- navbar is starting -->
<app-navbar></app-navbar>
<!--navbar is ending-->

<!-- header is starting -->
<section class="header">
  <div class="container">
    <div class="row">
      <div class="title-page">
        <img src="../../assets/images/Logo/White.png" alt="multySmartIcon" />
        <h1>our brands</h1>
      </div>
    </div>
  </div>
</section>
<!-- header is ending -->

<section class="Filter">
  <div class="container">
    <div class="row">
      <div class="col-4 search">
        <form>
          <input type="search" name="serach" placeholder="Search Here...." />
        </form>
      </div>
      <div class="col-8 characters">
        <span>A</span>
        <span>b</span>
        <span>c</span>
        <span>d</span>
        <span>e</span>
        <span>f</span>
        <span>g</span>
        <span>h</span>
        <span>i</span>
        <span>j</span>
        <span>k</span>
        <span>l</span>
        <span>m</span>
        <span>o</span>
        <span>n</span>
        <span>m</span>
        <span>p</span>
        <span>q</span>
        <span>r</span>
        <span>s</span>
        <span>t</span>
        <span>u</span>
        <span>v</span>
        <span>x</span>
        <span>w</span>
        <span>y</span>
        <span>z</span>
      </div>
      <div class="text-center pt-5 all">
        <span>All</span>
      </div>
    </div>
  </div>
</section>
<!-- Filter is ending -->


<!-- brands is starting -->
<section class="brands">
  <div class="container">
    <div class="d-flex align-items-center">
      <h2>A</h2>
      <span>(175)</span>
    </div>
    <hr/>
    <div class="brands-names">
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
    </div>
    <div class="brands-names">
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
    </div>
    <div class="brands-names">
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
    </div>
    <div class="brands-names">
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
    </div>

    <div class="d-flex align-items-center">
      <h2>B</h2>
      <span>(175)</span>
    </div>
    <hr/>
    <div class="brands-names">
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
    </div>
    <div class="brands-names">
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
    </div>
    <div class="brands-names">
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
    </div>
    <div class="brands-names">
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
    </div>

    <div class="d-flex align-items-center">
      <h2>C</h2>
      <span>(175)</span>
    </div>
    <hr/>
    <div class="brands-names">
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
    </div>
    <div class="brands-names">
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
    </div>
    <div class="brands-names">
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
    </div>
    <div class="brands-names">
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
      <a href="#">brand Name</a>
    </div>

  </div>
</section>
<!-- brands is ending -->

<!-- footer is starting -->
<app-footer></app-footer>
<!--footer is ending-->
