.projects{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  font-family: "El Messiri";
  text-transform: uppercase;
  box-shadow: 0 0 2px 2px #DDD;
}
.projects img{
  width: 70px;
  height: 70px;
  border: 2px solid #000;
  display: inline;
  border-radius: 50%;
}
.projects tr{
  border-bottom: 1px solid;
}
.projects th{
  font-weight: 600;
}
.projects thead{
  color: #5e548e;
  text-transform: uppercase;
}
.projects tbody{
  color: #5e548e;
  text-align: center;
  text-transform: uppercase;
}
.projects td:nth-child(1){
  padding-top: 30px;
}

.projects td:nth-child(3){
  padding-top: 30px;
}
.projects td:nth-child(4){
  padding-top: 30px;
}
.projects td:nth-child(5){
  padding-top: 30px;
}
.projects td:nth-child(6){
  padding-top: 30px;
}
.projects tr:hover{
  background-color: #F9F9F9;
}
