<div class="projects">
  <div class="container-fluid">
    <!-- Table Card -->
    <div class="card pmd-card text-center">
      <table id="example-checkbox" class="table pmd-table table-hover table-striped display responsive nowrap"
        cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Image Project</th>
            <th>Project Name</th>
            <th>Project Description</th>
            <th>Edit Project</th>
            <th>Delete Project</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="../../../assets/images/Projets/pro1.jpg"></td>
            <td>Nixon</td>
            <td>System Architect</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td><img src="../../../assets/images/Projets/pro1.jpg"></td>
            <td>Nixon</td>
            <td>System Architect</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td><img src="../../../assets/images/Projets/pro1.jpg"></td>
            <td>Nixon</td>
            <td>System Architect</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td><img src="../../../assets/images/Projets/pro1.jpg"></td>
            <td>Nixon</td>
            <td>System Architect</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td><img src="../../../assets/images/Projets/pro1.jpg"></td>
            <td>Nixon</td>
            <td>System Architect</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
          <tr>
            <td><img src="../../../assets/images/Projets/pro1.jpg"></td>
            <td>Nixon</td>
            <td>System Architect</td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
            <td style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
