<div class="projects">
  <div class="container-fluid">
    <table class="table table-borderless">
      <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image Project</th>
          <th scope="col">Project Name</th>
          <th scope="col">Project Description</th>
          <th scope="col">Edit Project</th>
          <th scope="col">Delete Project</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let project of projectsList; let i =index">
          <td scope="row">{{i+1}}</td>
          <td><img [src]='project.image'></td>
          <td>{{project.title}}</td>
          <td>{{project.description}}</td>
          <td (click)="editProject(project)"style="cursor: pointer; font-size: 18px;"><i class="fa fa-edit"></i></td>
          <td (click)="deleteRecord(project._id)" style="cursor: pointer; font-size: 18px;"><i class="fa fa-trash-can"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
