<div class="product-details">
  <div class="row">
      <div class="user-info">
        <h2>Order User Info</h2>
        <ol class="list-unstyled">
          <li *ngIf="data.userInfo.data.username">User Name : {{data.userInfo.data.username}}</li>
          <li *ngIf="data.userInfo.data.email">Email : {{data.userInfo.data.email}}</li>
          <li *ngIf="data.userInfo.data.phone">Phone : {{'+971 '+ data.userInfo.data.phone}}</li>
          <li *ngIf="data.userInfo.data.city">City : {{data.userInfo.data.city}}</li>
          <li *ngIf="data.userInfo.data.address">Address : {{data.userInfo.data.address}}</li>
          <li *ngIf="data.userInfo.data.emarite">Emarite : {{data.userInfo.data.emarite}}</li>
        </ol>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>CLose</button>
  </mat-dialog-actions>
