::ng-deep .mat-dialog-container{
  background-color: #FFF;
  border-radius: 10px;
  width: 550px;
}
$font-family:"Crimson Pro";
.product-details .user-info h2{
  color: #5e548e;
  font-size: 30px;
  font-weight: 500;
  font-family:$font-family;
  text-align: center;
  width: 100%;
}

.product-details .user-info li{
  color: #5e548e;
  font-size: 18px;
  font-weight: 400;
  font-family:$font-family;
  text-align: left;
  line-height: 2;
}

button{
  background-color: #5e548e;
  color: #FFF;
  outline: none;
  border:none;
  font-size: 16px;
  font-family:$font-family;
  border-radius: 5px;
}
button:focus{
  background-color: #5e548e;
  color: #FFF;
}
