// header is calling
@import '../../assets/styles/header.scss';

// videos is starting
.blogs {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  user-select: none;
}

.blogs h1 {
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 70px;
  text-transform: uppercase;
  color: #133A1B;
}

.blogs .blog {
  padding-bottom: 20px;
}

.blogs a {
  border: 1px solid #133A1B;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #011B10;
  font-family: "Crimson Pro";
  text-transform: capitalize;
  font-weight: 200;
}

.blogs .blog .image video {
  width: 100%;
  box-shadow: 0px 0px 5px 2px rgba($color: #000000, $alpha: .2);
}

.blogs .blog .details h4 {
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #133A1B;
  padding-top: 20px;
}

.blogs .blog .details p {
  font-family: 'Crimson Pro';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #133A1B;
  margin: 0;
  text-align: start;
  padding-bottom: 20px;
}

.blogs .blog .details #date {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.blogs .blog .likes {
  display: flex;
  justify-content: start;
  padding-top: 20px;
}

.blogs .blog .likes i {
  color: #000;
  font-size: 18px;
  padding-top: 5px;
  padding-right: 10px;
}

.blogs .blog .likes i:hover {
  color: red;
  cursor: pointer;
}

.blogs .blog .likes p {
  font-family: 'Crimson Pro';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba($color: #133A1B, $alpha: .6);
  text-align: start;
}

.blogs .filter .categories {
  width: 100%;
}

.blogs .filter .categories .category {
  display: flex;
  justify-content: start;
  margin-left: 50px;
  padding-bottom: 10px;
}

.blogs .filter .posts .image-post img {
  width: 200px;
  height: auto;
  margin: 0;
}

.blogs .filter .posts .post-details h5 {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba($color: #133A1B, $alpha: .6);
  width: 80%;
}

.blogs .filter .categories .category h5:hover {
  color: #F4B741;
  cursor: pointer;
}

.blogs .filter h3 {
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 24px;
  line-height: 47px;
  text-transform: uppercase;
  color: #133A1B;
}

.blogs .filter .category h5 {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba($color: #133A1B, $alpha: .6);
  letter-spacing: 1px;
  text-align: justify;
  border-bottom: 1px solid rgba($color: #000000, $alpha: .3);
  width: 80%;
}

.blogs .filter .posts .post:hover {
  color: #F4B741;
}

.blogs .filter .tags {
  margin-left: 50px;
}

.blogs .filter .tags .tag h5 {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba($color: #133A1B, $alpha: .6);
}

.blogs .filter .tags .tag :hover {
  color: #F4B741;
  cursor: pointer;
}

// follow us is starting
.follow-us {
  background-image: url('../../assets/Videos/coverImage.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
}

.follow-us .overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.follow-us:hover {
  .overlay {
    background-color: rgba($color: #133A1B, $alpha: .6);
    transition: ease-in-out;
    transition-timing-function: linear;
    transition-duration: 1s;
  }
}

.follow-us .follow-content {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.follow-us .follow-content:hover {
  cursor: pointer;
}

.follow-us .follow-content img {
  width: 100px;
  height: 100px;
  margin-top: 50px;
}

.follow-us .follow-content span {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 10px
}

.follow-us .follow-content i {
  color: #FFFFFF;
  font-size: 25px;
}

// follow us is ending



// start pageination
::ng-deep .ngx-pagination .pagination-next.disabled:after {
  display: inline-block;
  margin-left: 0.5rem;
  color: #F4B741;
  font-size: 18px;
}

::ng-deep .ngx-pagination .pagination-previous.disabled:before {
  display: inline-block;
  margin-left: 0.5rem;
  color: #F4B741;
  font-size: 18px;
}

::ng-deep .ngx-pagination li.current {
  background-color: #F4B741;
  border-radius: 100%;
}

// end pageniation

@media screen and (max-width:420px) {
  .blogs h1 {
    font-size: 25px;
    text-align: center;
  }

  .blogs .blog .details h4 {
    font-size: 18px;
  }

  .blogs .blog .details p {
    font-size: 16px;
  }
}


@media screen and (min-width:420px) and (max-width:576px) {
  .blogs h1 {
    font-size: 30px;
    text-align: center;
  }

  .blogs .blog .details h4 {
    font-size: 20px;
  }

  .blogs .blog .details p {
    font-size: 16px;
  }
}

@media screen and (min-width:576px) and (max-width:768px) {
  .blogs h1 {
    font-size: 35px;
    text-align: center;
  }

  .blogs .blog .details h4 {
    font-size: 24px;
  }

  .blogs .blog .details p {
    font-size: 18px;
  }
}

@media screen and (min-width:768px) and (max-width:1024px) {

  .blogs .filter .category h5 {
    width: 100%;
    font-size: 15px;
  }
  .blogs .filter .categories .category {
    margin-left: 10px;
  }
  .blogs .filter .tags {
    margin-left: 10px;
  }
}
