<!-- navbar is starting -->
<app-navbar></app-navbar>
<!--navbar is ending-->

<!-- header is starting -->
<section class="header">
  <div class="container">
    <div class="row">
      <div class="title-page">
        <img src="../../assets/images/Logo/White.png" alt="multySmartIcon" />
        <h1>Blog's</h1>
      </div>
    </div>
  </div>
</section>
<!-- header is ending -->

<!-- blogs is starting  -->
<section class="blogs">
  <div class="container-fluid">
    <h1 *ngIf="this.screenWidth >= 768" class="text-center">Recent Posts</h1>
    <div class="row">
      <div *ngIf="this.screenWidth >= 768" class="col-md-3">
        <div class="filter">
          <div class="categories text-center">
            <h3><i class="fa fa-square"></i> categories</h3>
            <div *ngFor="let CATEGORY of CATEGORIES" class="category">
              <h5 (click)="selectCategory(CATEGORY)">{{CATEGORY}}</h5>
            </div>
          </div>
          <h3 style="padding-top:100px;" class="mx-5"><i class="fa fa-square"></i> Tags</h3>
          <div class="tags">
            <div *ngFor="let TAG of TAGS" class="tag">
              <h5 (click)="selectTags(TAG)">{{TAG}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-9 videos">
        <button class="d-md-none" type="button" data-bs-toggle="offcanvas" mat-icon-button
          data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive"><mat-icon
            style="color: #F4B741;">menu</mat-icon></button>
        <h1 class="d-md-none">Recent Posts</h1>
        <!-- sidebar is starting here -->
        <div class="offcanvas-lg offcanvas-end d-lg-none" tabindex="-1" id="offcanvasResponsive"
          aria-labelledby="offcanvasResponsiveLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive"
              aria-label="Close"></button>
          </div>

          <div class="offcanvas-body">
            <div class="filter">
              <div class="categories text-center">
                <h3><i class="fa fa-square"></i> categories</h3>
                <div *ngFor="let CATEGORY of CATEGORIES" class="category">
                  <h5 (click)="selectCategory(CATEGORY)">{{CATEGORY}}</h5>
                </div>
              </div>
              <h3 style="padding-top:100px;" class="mx-5"><i class="fa fa-square"></i> Tags</h3>
              <div class="tags">
                <div *ngFor="let TAG of TAGS" class="tag">
                  <h5 (click)="selectTags(TAG)">{{TAG}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- sidebar is ending here -->
        <div *ngFor="let blog of BlogsList | paginate:{itemsPerPage: this.pageSize,
          currentPage: this.currentPage + 1, totalItems: this.totalBlogs}" class="blog">
          <div class="image">
            <video class="img-thumbnail" controls>
              <source [src]="blog.video" />
            </video>
          </div>
          <div class="details">
            <h4>{{blog.title}}</h4>
            <p id="date">{{blog.created_at | date:'short'}}</p>
            <hr />
            <p>{{blog.description}}.</p>
          </div>
        </div>
      </div>
      <div *ngIf="this.BlogsList.length > 2" class="d-flex justify-content-center">
        <pagination-controls class="my-pagination" [responsive]="true" nextLabel="" previousLabel=""
          (pageChange)="paginationHandle($event)"></pagination-controls>
      </div>
    </div>
  </div>
</section>
<!-- blogs is ending  -->

<!-- Lorem ipsum dolor sit amet. Et sint voluptatem ea corrupti consequatur quo debitis nulla qui excepturi
            consequatur cum consequatur optio eum tempora galisum. -->
<!-- follow us is starting -->
<section class="follow-us">
  <div class="overlay"></div>
  <div class="follow-content">
    <img src="../../assets/Videos/instegram_icon.png" alt="Follow us Icon">
    <span>follow us</span>
    <i class="fa fa-arrow-circle-o-right"></i>
  </div>
</section>

<!-- follow us is ending -->

<!-- footer is starting -->
<app-footer></app-footer>
<!--footer is ending-->
