
// header is calling
@import '../../assets/styles/header.scss';

// videos is starting
.videos{
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  font-style: normal;
}
.videos  h2{
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 70px;
  text-transform: uppercase;
  color: #133A1B;
}

.videos  p {
  font-family: 'Crimson Pro';
  font-weight: 400;
  font-size: 28px;
  line-height: 27px;
  color: #011B10;
  margin-bottom: 100px;
}
.videos video:focus{
  outline: none;
  border: none;
  box-shadow: 0 0 2px 2px #133A1B;
  width: 550px;
  height: auto;
}
.videos .title{
  background-color: #E4DEAE;
}
.videos .title h4{
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 25px;
  line-height: 39px;
  text-transform: uppercase;
  color: #133A1B;
  padding-top: 80px;
}
.videos .title p{
  font-family: 'Crimson Pro';
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #133A1B;
  padding-top: 50px;
}
.videos .video {
  padding-right:100px;
}

.videos .video::before{
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  border-left: 40px solid #B7BF96;
  border-top: 40px solid #B7BF96;
  margin-left: -41px;
  margin-top: -41px;
}

.videos .video::after{
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  border-bottom: 40px solid #E4DEAE;
  border-right: 40px solid #E4DEAE;
  margin-left: -160px;
  margin-top: 200px;
}
// .videos .video-3::after{
//   content: '';
//   position: absolute;
//   width: 200px;
//   height: 200px;
//   border-bottom: 40px solid #E4DEAE;
//   border-right: 40px solid #E4DEAE;
//   bottom: -1340px;
//   left: 580px;
// }
// videos is ending

.follow-us{
  background-image: url('../../assets/Videos/coverImage.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-bottom: 100px;
  position: relative;
}
.follow-us  .overlay{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.6);
}

.follow-us .follow-content{
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

.follow-us .follow-content img{
  width: 150px;
  height: 150px;
}

.follow-us .follow-content span{
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 10px
}

.follow-us .follow-content i{
  color: #FFFFFF;
  font-size: 25px;
}


