<!-- navbar is starting -->
<app-navbar></app-navbar>
<!--navbar is ending-->

<!-- header is starting -->
<section class="header">
  <div class="container">
    <div class="row">
      <div class="title-page">
        <img src="../../assets/images/Logo/White.png" alt="multySmartIcon"/>
        <h1>wahtch our videos</h1>
      </div>
    </div>
  </div>
</section>
<!-- header is ending -->


<!-- videos is starting -->
<section class="videos">
  <div class="container">
    <h2>videos collection  about homeworks</h2>
    <p>The best Instagram clips are available for you on our website</p>
    <div class="row mb-5">
        <div class="col-7 video">
            <video width="600" height="400" controls>
              <source src="../../assets/Videos/BarberShop.mp4" type="video/mp4">
            </video>
        </div>
        <div class="col-5 title">
            <h4>#video title</h4>
            <p>Had repulsive dashwoods suspicion sincerity but advantage now him.
              Remark easily garret nor nay. Civil those mrs enjoy shy fat merry.</p>
        </div>
    </div>

  <!-- seconed video  -->
    <div class="row mb-5">
      <div class="col-7 video-2">
          <video width="600" height="400" controls>
            <source src="../../assets/Videos/BarberShop.mp4" type="video/mp4">
          </video>
      </div>
      <div class="col-5 title-2">
          <h4>#video title</h4>
          <p>Had repulsive dashwoods suspicion sincerity but advantage now him.
            Remark easily garret nor nay. Civil those mrs enjoy shy fat merry.</p>
      </div>
    </div>

  <!-- third video  -->
  <div class="row mb-5">
    <div class="col-7 video-3">
        <video width="600" height="400" controls>
          <source src="../../assets/Videos/BarberShop.mp4" type="video/mp4">
        </video>
    </div>
    <div class="col-5 title-3">
        <h4>#video title</h4>
        <p>Had repulsive dashwoods suspicion sincerity but advantage now him.
          Remark easily garret nor nay. Civil those mrs enjoy shy fat merry.</p>
    </div>
  </div>
  </div>
</section>

<!-- videos is ending -->

<!-- follow us is starting -->
<section class="follow-us">
  <div class="overlay"></div>
  <div class="follow-content">
    <img src="../../assets/Videos/instegram_icon.png" alt="Follow us Icon">
    <span>follow us</span>
    <i class="fa fa-arrow-circle-o-right"></i>
  </div>
</section>

<!-- follow us is ending -->

<!-- footer is starting -->
<app-footer></app-footer>
<!--footer is ending-->
