<!-- navbar start -->
<app-navbar></app-navbar>
<!-- navbar ended -->

<!-- slider start -->
<div id="carouselIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="overlay"></div>
    <div class="carousel-item active">
      <img src="../../../assets/images/Slider/Slide-1.jpg" alt="SmartHome" />
      <div class="carousel-caption">
        <h1>control your home from your smart phone</h1>
      </div>
    </div>

    <div class="carousel-item">
      <img src="../../../assets/images/Slider/Slide-3.jpg" alt="SmartHome" />
      <div class="carousel-caption">
        <h1>get the best services form multysmart company</h1>
      </div>
    </div>

    <div class="carousel-item">
      <img src="../../../assets/images/Slider/HomeCinema.jpg" alt="HomeCinema" />
      <div class="carousel-caption">
        <h1>change your mode change your lighting</h1>
      </div>
    </div>
  </div>
</div>
<!-- slider ended -->

<!-- Get a Prochure start -->
<section class="prochure">
  <div class="container-fluid">
    <div class="row prochure-desgin">
      <div class="leftSection col-xs-12 col-lg-8">
        <h2>Create The Best Smart Home</h2>
        <P>Start with the top products we’ve tested for every room in the house.</P>
        <div class="content">
          <div class="pargraph">
            <i class="fa fa-mobile-alt"></i>
            <p>Control Everything at Your Fingertips.</p>
          </div>
          <div class="pargraph">
            <i class="fa fa-clock"></i>
            <p>Run Personalized Schedules.</p>
          </div>
          <div class="pargraph">
            <i class="fas fa-microphone-alt"></i>
            <p>Talk to Your Home or Make it Talk.</p>
          </div>
        </div>
        <!-- <button>get a prochure</button> -->
      </div>
      <!-- right section -->
      <div class="rightSection col-xs-12 col-lg-4">
        <img src="../../../assets/images/Introduction/intro.jpg" alt="SmartHomeIntroduction">
      </div>
    </div>
  </div>
</section>
<!-- Get a Prochure ended -->

<!-- partners is starting -->
<section *ngIf="this.screenWidth > 768" class="partners">
  <div class="container">
    <h2 class="mb-5">Our most popular partners</h2>
    <!-- left image -->
    <div class="row">
      <div class="col-xs-8 col-md-7">
        <img src="../../../assets/images/Partners/Savant.jpeg" alt="Savant.jpeg">
      </div>
      <div class="col-xs-4 col-md-5 partner">
        <h4>Savant</h4>
        <p>Savant Homes are more than just smart, they have a backup plan when the power goes out. Automate everything
          from lighting to music to video in every room, while not needing to rely on the grid.</p>
        <a href="#">Find Out More</a>
      </div>
    </div>
    <!-- right image -->
    <div class="row mt-5">
      <div class="col-xs-4 col-md-5 partner">
        <h4>Moorgen</h4>
        <p>moorgen is a world leader in smart home solutions. Combining proprietary bus and wireless control
          technology,with cloud computing, we have developed over 1,200 intelligent products.</p>
        <a href="#">Find Out More</a>
      </div>
      <div class="col-xs-8 col-md-7">
        <img src="../../../assets/images/Partners/moorgen.jpg" alt="moorgen.jpeg">
      </div>
    </div>
    <!-- left image -->
    <div class="row mt-5">
      <div class="col-xs-8 col-md-7">
        <img src="../../../assets/images/Partners/crestronPartner.jpeg" alt="crestronPartner.jpeg">
      </div>
      <div class="col-xs-4 col-md-5 partner">
        <h4>Crestron</h4>
        <p>Crestron works with the best in the business to deliver best in class experiences. From hardware to software,
          fully integrated or completely compatible, each partnership creates solutions designed to move our industry
          forward.</p>
        <a href="#">Find Out More</a>
      </div>
    </div>
    <!-- right image -->
    <div class="row mt-5">
      <div class="col-xs-4 col-md-5 partner">
        <h4>AMX</h4>
        <p>AMX has been pioneering automation and video distribution technologies since 1982, when founder Scott Miller,
          working in his garage, invented the first wireless AV controller.</p>
        <a href="#">Find Out More</a>
      </div>
      <div class="col-xs-8 col-md-7">
        <img src="../../../assets/images/Partners/amx-letter-logo.jpg" alt="mx-letter.jpg">
      </div>
    </div>
    <!-- left image -->
    <div class="row mt-5">
      <div class="col-xs-8 col-md-7">
        <img src="../../../assets/images/Partners/HDL.jpeg" alt="HDL.jpeg">
      </div>
      <div class="col-xs-4 col-md-5 partner">
        <h4>HDL</h4>
        <p>HDL Automation is an international technology company headquartered in Guangzhou, operating in smart homes,
          smart buildings and smart hotels</p>
        <a href="#">Find Out More</a>
      </div>
      <!-- right image -->
      <div class="row mt-5">
        <div class="col-xs-4 col-md-5 partner">
          <h4>Knx</h4>
          <p>The demand for comfort and versatility in the management of heating, lighting and access control systems
            for a family home as well as an office complex is growing. At the same time, the efficient use of energy is
            becoming increasingly important.</p>
          <a href="#">Find Out More</a>
        </div>
        <div class="col-xs-8 col-md-7">
          <img src="../../../assets/images/Partners/knx.jpg" alt="KNX.jpeg">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- partners is ending -->

<!-- partners section show when on the mobile and taplet devices -->

<!-- partners is starting -->
<section *ngIf="this.screenWidth <= 768" class="partners">
  <div class="container">
    <h2 class="mb-5">Our most popular partners</h2>
    <!-- left image -->
    <div class="row">
      <div class="col-xs-12">
        <img src="../../../assets/images/Partners/Savant.jpeg" alt="Savant.jpeg">
      </div>
      <div class="col-xs-12 partner">
        <h4>Savant</h4>
        <p>Savant Homes are more than just smart, they have a backup plan when the power goes out. Automate everything
          from lighting to music to video in every room, while not needing to rely on the grid.</p>
        <a href="https://www.savant.com">Explore Savant</a>
      </div>
    </div>
    <!-- right image -->
    <div class="row mt-5">
      <div class="col-xs-12">
        <img src="../../../assets/images/Partners/moorgen.jpg" alt="moorgen.jpeg">
      </div>
      <div class="col-xs-12 partner">
        <h4>Moorgen</h4>
        <p>moorgen is a world leader in smart home solutions. Combining proprietary bus and wireless control
          technology,with cloud computing, we have developed over 1,200 intelligent products.</p>
        <a href="https://www.moorgen.com/en-us">Find Out More</a>
      </div>
    </div>
    <!-- left image -->
    <div class="row mt-5">
      <div class="col-xs-12">
        <img src="../../../assets/images/Partners/crestronPartner.jpeg" alt="crestronPartner.jpeg">
      </div>
      <div class="col-xs-12 partner">
        <h4>Crestron</h4>
        <p>Crestron works with the best in the business to deliver best in class experiences. From hardware to software,
          fully integrated or completely compatible, each partnership creates solutions designed to move our industry
          forward.</p>
        <a href="https://www.crestron.com/">Find Out More</a>
      </div>
    </div>
    <!-- right image -->
    <div class="row mt-5">
      <div class="col-xs-12">
        <img src="../../../assets/images/Partners/amx-letter-logo.jpg" alt="mx-letter.jpg">
      </div>
      <div class="col-xs-12 partner">
        <h4>AMX</h4>
        <p>AMX has been pioneering automation and video distribution technologies since 1982, when founder Scott Miller,
          working in his garage, invented the first wireless AV controller.</p>
        <a href="https://www.amx.com/en">Find Out More</a>
      </div>
    </div>
    <!-- left image -->
    <div class="row mt-5">
      <div class="col-xs-12">
        <img src="../../../assets/images/Partners/HDL.jpeg" alt="HDL.jpeg">
      </div>
      <div class="col-xs-12 partner">
        <h4>HDL</h4>
        <p>HDL Automation is an international technology company headquartered in Guangzhou, operating in smart homes,
          smart buildings and smart hotels</p>
        <a href="https://www.hdlautomation.com/">Find Out More</a>
      </div>
      <!-- right image -->
      <div class="row mt-5">
        <div class="col-xs-12">
          <img src="../../../assets/images/Partners/knx.jpg" alt="KNX.jpeg">
        </div>
        <div class="col-xs-12 partner">
          <h4>Knx</h4>
          <p>The demand for comfort and versatility in the management of heating, lighting and access control systems
            for a family home as well as an office complex is growing. At the same time, the efficient use of energy is
            becoming increasingly important.</p>
          <a href="https://www.knx.org/knx-en/for-professionals/index.php">Find Out More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- partners is ending -->


<!-- sevices is starrting-->
<section class="services">
  <div class="container">
    <h2 class="mb-5">Multysmart services</h2>
    <div class="row">
      <div class="services-names">
        <div class="services-content">
          <div class="service col-xs-12 col-lg-3">
            <img  src="../../../assets/images/Services/icons/CCTV.png" alt="CCTVImage">
            <h4 style="margin-right: 30px;">CCTV</h4>
            <p>Suppose you security cameras in malls, shops, schools, businesses, or other locations and take
              the cables from each of the cameras to a recording and monitoring center.</p>
          </div>
          <div class="service col-xs-12 col-lg-3">
            <img src="../../../assets/images/Services/icons/SmartHome.png" alt="SmartHomeImage">
            <h4>Home Automation</h4>
            <p>A home automation system consists of a device which communicates to a gateway or a hub. your home become
              on the degree of control you wish to have in your home.</p>
          </div>
          <div class="service col-xs-12 col-lg-3">
            <img src="../../../assets/images/Services/icons/Music.png" alt="MusicImage">
            <h4>Sound System</h4>
            <p>A wireless speaker system is the easiest way to listen to music, podcasts and other audio entertainment
              in more than one room at a time.</p>
          </div>
          <div class="service col-xs-12 col-lg-3">
            <img src="../../../assets/images/Services/icons/Wifi.png" alt="MusicImage">
            <h4>Wifi</h4>
            <p>Support your Home with More users access to internet and Broader range of transmission and Flexible
              networking and Multi-AP interconnection.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services is ending -->

<!-- process is starting -->
<section class="process">
  <div class="container-fluid">
    <div class="head d-flex justify-content-center align-items-center">
      <div>
      </div>
      <h2>implement project Steps</h2>
    </div>
    <div class="stages">
      <div class="procces-details me-5">
        <div class="step">
          <h3>step</h3>
          <span>1</span>
          <h4>desgin</h4>
          <p>We care about the smallest details in our work by working on the design and positioning of the devices in
            conjunction with the existing plans for the required location.</p>
        </div>
      </div>

      <div class="procces-details me-5">
        <div class="step">
          <h3>step</h3>
          <span>2</span>
          <h4>display</h4>
          <p>One of the most important stages of our work is displaying our products and preparing them in a 100%
            complete manner. The customer can discover and identify the devices.</p>
        </div>
      </div>

      <div class="procces-details me-5">
        <div class="step">
          <h3>step</h3>
          <span>3</span>
          <h4>testing</h4>
          <p>The customer can start and evaluate our products after completing the last stage through which we can
            provide a high quality product to the customer.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- process is ending -->

<!-- category of produts is starting  -->
<section class="categories">
  <div class="container">
    <div class="row">
      <h2>Product Categories</h2>
    </div>
    <div class="classes-category">
      <div class="col-xs-12 col-md-4 category AC">
        <h4>Smart AC</h4>
      </div>
      <div class="col-xs-12 col-md-4 category light-control">
        <h4>Smart Lights</h4>
      </div>
      <div class="col-xs-12 col-md-4 category curation-control">
        <h4>Smart Curation</h4>
      </div>
    </div>
    <div class="classes-category mt-2">
      <div class="col-xs-12 col-md-4 category CCTV">
        <h4>CCTV</h4>
      </div>
      <div class="col-xs-12 col-md-4 category sound-system">
        <h4>Sound System</h4>
      </div>
      <div class="col-xs-12  col-md-4 category home-cinema">
        <h4>Home Cinema</h4>
      </div>
    </div>
    <div class="mt-5">
      <!-- links to All Services -->
      <a routerLink="/shop">shop Products<i style="font-size:14px ; padding-left: 10px;"
          class="fa fa-arrow-right"></i></a>
    </div>
  </div>
</section>
<!-- category of products is ending  -->


<!-- areas of applications is starting -->
<section class="areas">
  <div class="container">
    <h2>Areas Of Applications</h2>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <div class="card-header">
            <img src="../../../assets/images/Areas/LuxuryVilla.jpg" alt="Luxury-Villa">
          </div>
          <div class="card-body">
            <h4>Luxury Villa</h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card">
          <div class="card-header">
            <img src="../../../assets/images/Areas/Building.jpg" alt="Building">
          </div>
          <div class="card-body">
            <h4>Building</h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card">
          <div class="card-header">
            <img src="../../../assets/images/Areas/Theater.jpg" alt="Theater">
          </div>
          <div class="card-body">
            <h4>Theater</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- areas of applications is ending -->
<!-- footer start -->
<app-footer></app-footer>
<!-- footer ended -->
