
<!-- navbar start -->
<app-navbar></app-navbar>
<!-- navbar ended -->

<!-- slider start -->
<div id="carouselIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

<div class="carousel-inner">
    <div class="overlay"></div>
      <div class="carousel-item oneSection active">
          <img src="../../../assets/images/Slider/slider1.jpg" alt="SmartHome"/>
            <div class="carousel-caption">
              <h1>control your home from your smart phone</h1>
            </div>
        </div>

        <div class="carousel-item twoSection">
          <img src="../../../assets/images/Slider/slider2.jpg" alt="SmartHome"/>
            <div class="carousel-caption">
              <h1>change your mode change your lighting</h1>
            </div>
        </div>

        <div class="carousel-item threeSection">
          <img src="../../../assets/images/Slider/slider3.jpg" alt="SmartHome"/>
            <div class="carousel-caption">
              <h1>get the best services form  multysmart company</h1>
            </div>
        </div>
    </div>
</div>
<!-- slider ended -->

<!-- Get a Prochure start -->
<section  class="prochure">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 leftSection">
              <h2>Create The Best Smart Home</h2>
              <P>Start with the top products we’ve tested for every room in the house.</P>
              <div class="content">
                  <div class=" col-2 pargraph">
                    <i class="fa fa-mobile-alt"></i>
                    <p>Control Everything at Your Fingertips.</p>
                  </div>

                  <div class="col-2 pargraph">
                    <i class="fa fa-clock"></i>
                    <p>Run Personalized Schedules.</p>
                  </div>

                  <div class="col-2 pargraph">
                    <i class="fas fa-microphone-alt"></i>
                    <p>Talk to Your Home or Make it Talk.</p>
                  </div>

                </div>
              <button>get a prochure</button>
            </div>
              <!-- right section -->
            <div class="col-4 rightSection">
              <img src="../../../assets/images/Introduction/intro.jpg" alt="SmartHomeIntroduction">
            </div>
        </div>
    </div>
</section>
<!-- Get a Prochure ended -->

<!-- partners is starting -->
<section class="partners">
    <div class="container">
      <h2>Our most popular partners</h2>
      <p>Our most connected brands in the wired && wireless fields.</p>
      <div class="row mb-5">
        <div class="col-6 leftPartner">
            <div class="left">
              <img src="../../../assets/images/Partners/Eknex.jpg" alt="multySmartPartner"/>
            </div>
            <div class="right">
              <h4>#EKINEX</h4>
              <p>Had repulsive dashwoods suspicion sincerity but advantage now him.
                 Remark easily garret nor nay. Civil those mrs enjoy shy fat merry.</p>
              <a href="#">Find More Out</a>
            </div>
        </div>
        <div class="col-6 rightPartner">
          <div class="left">
            <img src="../../../assets/images/Partners/moorgen.jpeg" alt="multySmartPartner"/>
          </div>
          <div class="right">
            <h4>#Moorgen</h4>
            <p>Had repulsive dashwoods suspicion sincerity but advantage now him.
              Remark easily garret nor nay. Civil those mrs enjoy shy fat merry.</p>
            <a href="#">Find More Out</a>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-6 leftPartner">
            <div class="left">
              <img src="../../../assets/images/Partners/HDL.jpeg" alt="multySmartPartner"/>
            </div>
            <div class="right">
              <h4>#HDL</h4>
              <p>Had repulsive dashwoods suspicion sincerity but advantage now him.
                 Remark easily garret nor nay. Civil those mrs enjoy shy fat merry.</p>
              <a href="#">Find More Out</a>
            </div>
        </div>
        <div class="col-6 rightPartner">
          <div class="left">
            <img src="../../../assets/images/Partners/KNx.jpeg" alt="multySmartPartner"/>
          </div>
          <div class="right">
            <h4>#KNX</h4>
            <p>Had repulsive dashwoods suspicion sincerity but advantage now him.
              Remark easily garret nor nay. Civil those mrs enjoy shy fat merry.</p>
            <a href="#">Find More Out</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 leftPartner">
            <div class="left">
              <img src="../../../assets/images/Partners/lifeSmart.jpeg" alt="multySmartPartner"/>
            </div>
            <div class="right">
              <h4>#Life smart</h4>
              <p>Had repulsive dashwoods suspicion sincerity but advantage now him.
                 Remark easily garret nor nay. Civil those mrs enjoy shy fat merry.</p>
              <a href="#">Find More Out</a>
            </div>
        </div>
        <div class="col-6 rightPartner">
          <div class="left">
            <img src="../../../assets/images/Partners/Savant.jpeg" alt="multySmartPartner"/>
          </div>
          <div class="right">
            <h4>#savant</h4>
            <p>Had repulsive dashwoods suspicion sincerity but advantage now him.
              Remark easily garret nor nay. Civil those mrs enjoy shy fat merry.</p>
            <a href="#">Find More Out</a>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- partners is ending -->
<!-- footer start -->
<app-footer></app-footer>
<!-- footer ended -->
