// carsoul is starting

.carousel-inner {
  position: relative;
}
.carousel-inner .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:rgba(19, 58, 27, 0.6);
  z-index: 1;
}
.carousel-inner .carousel-item > img{
  width: 100%;
  max-height:670px;
  background-size: contain;
}
.carousel-inner .carousel-item .carousel-caption{
  z-index: 3;
  display: flex;
  justify-content: center;
  margin-bottom: 220px;
}
.carousel-inner .carousel-item .carousel-caption >h1{
  font-size: 60px;
  font-weight: 700;
  font-family: 'El Messiri';
  line-height:1.2;
  text-transform: uppercase;
  text-align: center;
}
.carousel-indicators{
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 740px;
  margin: 0 0 3px 0;
  border: 1px solid #FFF;
  width:30px;
  border-radius: 25px;
  height: 100px;
  margin-bottom: 5px;
}

.carousel-indicators > button{
  box-sizing: content-box;
  width: 15px;
  height: 20px;
  border-radius:100%;
  text-indent: -999px;
  cursor: -webkit-grab;
  background-color: #fff;
  background-clip: padding-box;
  opacity: .5;
  margin-bottom: -5px;
  transition: opacity .8s ease;
}
.carousel-indicators .active{
  opacity: 1;
}

// carsoul is ending

// get a prochure is starting
.prochure{
  width: 100%;
  font-style: normal;
  font-style: normal;
  text-align: center;
}

.leftSection{
  margin-top: 30px;
  margin-left: -60px;
  margin-bottom: 100px;
}
.prochure .leftSection > h2{
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 45px;
  line-height: 70px;
  text-transform: uppercase;
  color:#133A1B;
}

.prochure .leftSection > p{
  font-family: 'Crimson Pro';
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
  color: #011B10;
  margin-top: 30px;
  word-wrap: break-word;
  width: 50%;
  transform: translate(50%,0);
}

.prochure .leftSection .content{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.prochure .leftSection .content .pargraph{
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  text-transform: capitalize;
  color: #011B10;
  margin-left: 5px;
}

.prochure .leftSection .content .pargraph > i{
  background-color: #133A1B;
  color: #FFF;
  padding-top: 12px;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 10px;
}

.prochure .leftSection > button{
  background: rgba(19, 58, 27, 0.92);
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  outline: none;
  border:none;
  padding: 20px 40px;
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.prochure .leftSection > button:hover{
  background-color: #B7BF96;
  color: #133A1B;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: -webkit-grab;
}
.prochure .leftSection > button:focus{
  cursor: progress;
}
.prochure .rightSection{
  margin-top: 50px;
}
.prochure .rightSection > img {
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
}
// get a prochure is ending


// partners is starting
.partners{
  margin-bottom: 100px;
  text-align: center;
}
.partners  h2{
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 70px;
  text-transform: uppercase;
  color: #133A1B;
}

.partners  p {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 27px;
  text-align: center;
  color: #011B10;
  margin-bottom: 50px;
}

.partners .leftPartner{
  display: flex;
  background: #E4DEAE;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 320px;
  width: 48%;
}
.partners .leftPartner .left img{
  margin:10px 10px 0px 0px ;
  width: 300px;
  height: 300px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}
.partners .leftPartner .right h4{
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 30px;
  line-height: 47px;
  text-transform: uppercase;
  color: #133A1B;
  margin-top: 30px;
}

.partners .leftPartner .right p{
  font-family: 'Crimson Pro';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #133A1B;
}

.partners .leftPartner .right a{
  background: #133A1B;
  border: 2px solid #133A1B;
  border-radius: 6px;
  font-family: 'Crimson Pro';
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 20px 40px;
  text-decoration: none;
  outline: none;
  border: none;
}

.partners .rightPartner{
  display: flex;
  background: #B7BF96;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 320px;
  width: 48%;
  margin-left: 20px;
}
.partners .rightPartner .left img{
  margin:10px 10px 0px 0px ;
  width: 300px;
  height: 300px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}
.partners .rightPartner .right h4{
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 30px;
  line-height: 47px;
  text-transform: uppercase;
  color: #011B10;
  margin-top: 30px;
}

.partners .rightPartner .right p{
  font-family: 'Crimson Pro';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #011B10;
}

.partners .rightPartner .right a{
  background: #FFF;
  border-radius: 6px;
  font-family: 'Crimson Pro';
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  color: #011B10;
  padding: 20px 40px;
  text-decoration: none;
  cursor: -webkit-grab;
}
.partners .leftPartner .right a:hover{
  background-color: #FFF;
  color: #011B10;
}
.partners .rightPartner .right a:hover{
  background-color: #133A1B;
  color: #FFF;
}
.partners .rightPartner .right a:focus,
.partners .leftPartner .right a:focus{
  cursor: progress;
}
// partners is ending


// services is starting

.services{
  margin-bottom: 100px;
  text-align: center;
  font-style: normal;
}
.services h2{
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 45px;
  line-height: 70px;
  text-transform: uppercase;
  color: #133A1B;
}

.services p {
  font-family: 'Crimson Pro';
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
  color: #011B10;
  margin: auto;
  margin-bottom: 70px;
}

.services .image-services img{
  max-width: 400px;
  max-height: 400px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 40px;
}
.services .image-services a {
  font-family: 'Crimson Pro';
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #F4B741;
  border: 1px solid #B7BF96;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  text-decoration: none;
  padding: 15px 30px;
  cursor: -webkit-grab;
}

.services .image-services a:hover{
  background: #011B10;
}
.services .services-content{
  background-color: #E4DEAE;
  display: flex;
}
.services .services-content .service{
  // margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services .services-content .service span {
  font-family: 'Crimson Pro';
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  color: #F4B741;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-top: 10px;
}

.services .services-content .service h4 {
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  text-transform: uppercase;
  color: #133A1B;
}
.services .services-content .service p {
  font-family: 'Crimson Pro';
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #133A1B;
}
// services is ending

// offers is starting
.offers{
  margin-bottom: 100px;
  text-align: center;
  font-style: normal;
}
.offers h2{
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 45px;
  line-height: 70px;
  text-transform: uppercase;
  color: #133A1B;
}

.offers p {
  font-family: 'Crimson Pro';
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  color: #011B10;
  margin-bottom: 70px;
  width: 50%;
  transform: translate(50%,0);
}
.offers .card{
  width: auto;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}
.offers .card h5{
  margin-top: 20px;
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 25px;
  line-height: 39px;
  text-transform: capitalize;
  color: #133A1B;
}

.offers .card span{
  font-family: 'Crimson Pro';
  font-weight: 600;
  font-size: 25px;
  text-transform: capitalize;
  color: #011B10;
  background: #E4DEAE;
  margin: 10px 0;
  padding: 20px 0;
}
.offers .card ul > li {
  font-family: 'Crimson Pro';
  font-weight: 300;
  font-size: 20px;
  text-transform: capitalize;
  color: #000000;
  padding: 10px 0;
}
.offers .card a{
  font-family: 'Crimson Pro';
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  color: #011B10;
  text-decoration: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  padding: 20px 10px;
  margin: 40px;
}
.offers .card a:hover{
  background: #011B10;
  color: #FFF;
}

// offers is ending



// our projects is starting

.projects{
  text-align: center;
  font-style: normal;
  background-image: url('../../../assets/images/Projets/ProjectsCover.jpg');
  background-size: cover;
  background-clip: border-box;
  color: #FFF;
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
}

.projects h2{
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 45px;
  line-height: 70px;
  text-transform: uppercase;
  padding-top: 30px;
}

.projects p {
  font-family: 'Crimson Pro';
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 70px;
  width: 50%;
  transform: translate(50%,0);
}
.projects .overlay-projects{
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color:rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.projects .project{
  padding-bottom: 50px;
}
.projects .project img{
  width: 200px;
  height: 200px;
  border: 2px solid #FFF;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 5px solid #FFFFFF;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.3);
}
.projects .project h4{
  font-family: 'El Messiri';
  font-weight: 600;
  font-size: 25px;
  line-height: 39px;
  text-transform: capitalize;
}
.projects .project p{
  font-family: 'Crimson Pro';
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-transform:inherit;
}
// our projects is ending


// statistics is starting

.statistics{
  width: 100%;
  text-align: center;
  font-style: normal;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.statistics  i{
  color: #F4B741;
}
.statistics h4{
  font-family: 'El Messiri';
  font-weight: 500;
  font-size: 30px;
  line-height: 47px;
  color: #133A1B;
  padding-top: 15px;
}
.statistics span{
  font-family: 'El Messiri';
  font-weight: 500;
  font-size: 30px;
  line-height: 47px;
  color: #011B10;
}
// statistics is ending
